<div class="profile-search">
  <form class="profile-search__form" [formGroup]="formProfileSearch">
    <mat-grid-list cols="4" rowHeight="280px">
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="lastname" type="text" placeholder="Фамилия">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="firstname" type="text" placeholder="Имя">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="id" type="text" placeholder="№ пассажира">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <mat-select formControlName="gender" placeholder="Пол">
                <mat-option></mat-option>
                <mat-option value="m" >М</mat-option>
                <mat-option value="f" >Ж</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <mat-select formControlName="divisionid" placeholder="Название группы">
                <mat-option></mat-option>
                <mat-option *ngFor="let tree of trees" [value]="tree.Name" [id]="tree.ID" >{{ tree.Name }} | ID={{ tree.ID }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="dobfrominclude" placeholder="Дата рождения с" [matDatepicker]="DobFromInclude">
              <mat-datepicker-toggle matSuffix [for]="DobFromInclude"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #DobFromInclude></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="dobtoexclude" placeholder="Дата рождения по" [matDatepicker]="DobToExclude">
              <mat-datepicker-toggle matSuffix [for]="DobToExclude"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #DobToExclude color="primary"></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="ticket" type="text" placeholder="№ билета">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="recloc" type="text" placeholder="№ брони">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="emdnum" type="text" placeholder="№ EMD">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="flight" type="text" placeholder="№ рейса">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="flightdatefrom" placeholder="Дата рейса с" [matDatepicker]="flightDateFrom">
              <mat-datepicker-toggle matSuffix [for]="flightDateFrom"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #flightDateFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="flightdateto" placeholder="Дата рейса по" [matDatepicker]="flightDateTo">
              <mat-datepicker-toggle matSuffix [for]="flightDateTo"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #flightDateTo color="primary"></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="deppoint" type="text" placeholder="Откуда" [matAutocomplete]="locationfrom">
              <mat-autocomplete #locationfrom="matAutocomplete">
                <mat-option *ngFor="let location of locationFromOptions | async" [value]="location.locationCode">{{ location.locationCode }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="arrpoint" type="text" placeholder="Куда" [matAutocomplete]="locationTo">
              <mat-autocomplete #locationTo="matAutocomplete">
                <mat-option *ngFor="let location of locationToOptions | async" [value]="location.locationCode">{{ location.locationCode }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="deptimefrominclude" placeholder="Дата сегмента с" [matDatepicker]="DepTimeFromInclude">
              <mat-datepicker-toggle matSuffix [for]="DepTimeFromInclude"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #DepTimeFromInclude></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="deptimetoexclude" placeholder="Дата сегмента по" [matDatepicker]="DepTimeToExclude">
              <mat-datepicker-toggle matSuffix [for]="DepTimeToExclude"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #DepTimeToExclude></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <!--<mat-grid-tile [colspan]="1" [rowspan]="1">-->
        <!--<mat-card class="profile-search__card">-->
          <!--<mat-card-content class="profile-search__content">-->
            <!--<mat-form-field class="profile-search__input">-->
              <!--<mat-select formControlName="divisionid" placeholder="Название группы">-->
                <!--<mat-option></mat-option>-->
                <!--<mat-option *ngFor="let tree of trees" [value]="tree.Name" [id]="tree.ID" >{{ tree.Name }} | ID={{ tree.ID }}</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field class="profile-search__input">-->
              <!--<mat-select formControlName="groupid" placeholder="Название спец группы">-->
                <!--<mat-option></mat-option>-->
                <!--<mat-option *ngFor="let group of groups" [value]="group.Name" [id]="group.Id">{{ group.Name }}</mat-option>-->
              <!--</mat-select>-->
            <!--</mat-form-field>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      <!--</mat-grid-tile>-->

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="cabinet" type="text" placeholder="Кабина">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="rdb" type="text" placeholder="Класс бронирования">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="tariffcode" type="text" placeholder="Код тарифа">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="id" type="servicecode" placeholder="Код услуги">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="amountfrom" type="text" placeholder="Общая сумма от (RUB)">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="amountto" type="text" placeholder="Общая сумма до (RUB)">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="amountdatefrom" placeholder="Дата продажи с" [matDatepicker]="amountDateFrom">
              <mat-datepicker-toggle matSuffix [for]="amountDateFrom"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #amountDateFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="amountdateto" placeholder="Дата продажи по" [matDatepicker]="amountDateTo">
              <mat-datepicker-toggle matSuffix [for]="amountDateTo"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #amountDateTo></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="email" type="email" placeholder="Электронная почта">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="phone" type="text" placeholder="Телефон">
            </mat-form-field>
            <mat-checkbox  formControlName="withoutcontact">Отсутствие контакта</mat-checkbox>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <div class="profile-search__button-wrapper">
        <button appAccessRights="customers:read" class="profile-search__button _left-button" mat-raised-button (click)="sendForm()" color="primary">
          <mat-icon>search</mat-icon>
          Искать
        </button>
        <button class="profile-search__button" mat-raised-button (click)="clearForm()">Очистить форму</button>
      </div>

    </mat-grid-list>
  </form>

  <div class="profile-search__table">
    <mat-card appAccessRights="customers:read" appAccessMessage="true" *ngIf="isTableCard">
      <mat-progress-bar *ngIf="isLoader; else loaserDisabled" mode="buffer"></mat-progress-bar>
      <ng-template #loaserDisabled>
        <mat-card-title>{{profiles.length !==0 ? 'Результаты поиска' : 'По этому запросу ничего не найдено'}}</mat-card-title>
          <app-table-async-profile
            [tableDataSource]="profiles"
          >
          </app-table-async-profile>
      </ng-template>
    </mat-card>
  </div>
</div>
