.table

  &__row
    white-space: nowrap;

  &__cell
    text-overflow: ellipsis;
    padding: 16px 16px 16px 0;
    display: inline-block;
    min-height auto;

    &._cp
      cursor: pointer
      &:hover
        background: rgba(63,81,181,.12)

.example-loading-shade
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
