<div class="search-promotions-cods">
  <form class="search-promotions-cods__form">

    <mat-grid-list cols="3" rowHeight="135px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="search-promotions-cods__card">
          <mat-card-content class="search-promotions-cods__content">
            <mat-form-field class="search-promotions-cods__input">
              <input matInput type="text" placeholder="Промоакция">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="search-promotions-cods__card">
          <mat-card-content class="search-promotions-cods__content">
            <mat-form-field class="search-promotions-cods__input">
              <input matInput type="text" placeholder="Промоакция">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="search-promotions-cods__card">
          <mat-card-content class="search-promotions-cods__content">
            <mat-form-field class="search-promotions-cods__input">
              <input matInput type="text" placeholder="Промоакция">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <div class="search-promotions-cods__button-wrapper">
        <button appAccessRights="promotions:read" class="search-promotions-cods__button" mat-raised-button
                (click)="searchForm()" color="primary">
          <mat-icon>search</mat-icon>
          Искать
        </button>
        <button class="search-promotions-cods__button" mat-raised-button (click)="clearForm()">
          <mat-icon>clear</mat-icon>
          Очистить форму
        </button>
      </div>

    </mat-grid-list>
  </form>
</div>
