<div class="profile-sms-distribution">

  <mat-card class="profile-sms-distribution__email">
    <mat-progress-bar *ngIf="isLoader; else loaserSms" mode="buffer"></mat-progress-bar>
    <ng-template #loaserSms>
      <mat-card-header class="profile-sms-distribution__header">
        <mat-card-title>{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.SUBJECT' | translate}}
          <b>{{ distributionProfile.subject }}</b></mat-card-title>
        <mat-card-title>{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.DIST_SUBJECT_NAME' | translate}}
          <b>{{ distributionProfile.distSubjectName }}</b></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="profile-sms-distribution__content">
        <div [innerHtml]="distributionProfile.text | safeHtml"></div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="profile-sms-distribution__action">
        <div class="row no-gutters">
          <div class="col col-12 col-lg-12 col-xl-4">
            <div class="profile-sms-distribution__grid">
              <span>{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.DATE' | translate}}
                <b> {{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.FROM' | translate}} {{ distributionProfile.dateFrom | date:'dd.MM.yyyy' }}
                  , {{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.TO' | translate}} {{ distributionProfile.dateTo | date:'dd.MM.yyyy' }} </b>  </span>
              <span>{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.LAST_TRY' | translate}}
                <b> {{ distributionProfile.lastTryDT | date:'dd.MM.yyyy, HH:mm' }} </b>  </span>
              <span>{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.STATUS' | translate}}
                <b> {{ distributionProfile.status.statusNameRus}} </b>  </span>
              <span *ngIf="distributionProfile.errorMessage"
                    class="profile-sms-distribution__error">{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.ERROR_MESSAGE' | translate}}
                <b> {{ distributionProfile.errorMessage }} </b>  </span>
            </div>
          </div>
          <div class="col col-12 col-lg-6 col-xl-4">
            <div class="profile-sms-distribution__grid">
              <span [matBadge]="distributionProfile.distributionStatuses.notSentCount" matBadgeOverlap="false"
                    matBadgeColor="primary">{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.STATUSES.NOT_SENT' | translate}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.sendToCustomerCount" matBadgeOverlap="false"
                    matBadgeColor="primary">{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.STATUSES.SEND_TO_CUSTOMER' | translate}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.errorCount" matBadgeOverlap="false"
                    matBadgeColor="primary">{{'PAGE.DISTRIBUTION.PROFILE_SMS_DISTRIBUTION.STATUSES.ERROR' | translate}}</span>
            </div>
          </div>
          <div class="col col-12 col-lg-6 col-xl-4">
          </div>
        </div>
        <div class="profile-sms-distribution__button-wrapper">
          <button
            class="profile-sms-distribution__button"
            mat-raised-button
            color="primary"
            (click)="startSmsDistribution()"
            [disabled]="startButtonDisabled"
            appAccessRights="distributions:update"
          >
            <mat-icon>send</mat-icon>
            {{'BUTTON.SEND_DISTRIBUTION' | translate}}
          </button>
          <button
            class="profile-sms-distribution__button"
            mat-raised-button
            color="accent"
            (click)="stopSmsDistribution()"
            [disabled]="stopButtonDisabled"
            appAccessRights="distributions:update"
          >
            <mat-icon>cancel</mat-icon>
            {{'BUTTON.CANCEL_DISTRIBUTION' | translate}}
          </button>
          <button
            class="profile-sms-distribution__button"
            color="warn"
            mat-raised-button
            (click)="deleteSmsDistribution()"
            [disabled]="deleteButtonDisabled"
            appAccessRights="distributions:update"
          >
            <mat-icon>delete</mat-icon>
            {{'BUTTON.DELETE' | translate}}
          </button>
        </div>
      </mat-card-actions>
    </ng-template>
  </mat-card>

  <mat-card *ngIf="isDistributionProfile" class="profile-sms-distribution__table">
    <mat-progress-bar *ngIf="isLoader; else loaderDisabled" mode="buffer"></mat-progress-bar>
    <ng-template #loaderDisabled>
      <app-table-async-sms-distribution-profile [tableDataSource]="distributionProfile.customers">
      </app-table-async-sms-distribution-profile>
    </ng-template>
  </mat-card>

</div>

