<mat-progress-bar *ngIf="isProgressTemplates" mode="buffer"></mat-progress-bar>

<mat-tree *ngIf="!isProgressTemplates && !isDir" [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox class="checklist-leaf-node"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="todoLeafItemSelectionToggle(node)">{{node.item.split('/')[node.item.split('/').length - 1]}}</mat-checkbox>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
  </mat-tree-node>
</mat-tree>

<mat-tree *ngIf="!isProgressTemplates && isDir" [dataSource]="dataSource" [treeControl]="treeControl"
          class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      <button mat-button class="report-access-rights__template"
              (click)="onSendTemplate( node.item )">{{node.item.split('/')[node.item.split('/').length - 1]}}</button>
    </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <li>
      <div class="mat-tree-node" matTreeNodeToggle>
        <button mat-icon-button>
          <mat-icon class="mat-icon-rtl-mirror">
            folder
          </mat-icon>
        </button>
        <span class="report-access-rights__dir">{{node.item}}</span>
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-tree-node>
</mat-tree>
