<div class="list-segmentation" appAccessRights="analytics:read" appAccessMessage="true">
  <mat-card class="list-segmentation__table-segmentation">
    <mat-progress-bar *ngIf="isLoaderSegmentationTable; else loaderDisabled" mode="buffer"></mat-progress-bar>
    <ng-template #loaderDisabled>
      <app-table-example-segmentation *ngIf="segmentation.length !== 0" [tableDataSource]="segmentation" (emitSegmentationId)="onProfileSearch( $event )"></app-table-example-segmentation>
    </ng-template>
  </mat-card>

  <mat-card class="list-segmentation__table-profile" *ngIf="isTableProfileTable">
    <mat-progress-bar *ngIf="isLoaderProfileTable; else loaderDisabled" mode="buffer"></mat-progress-bar>
    <ng-template #loaderDisabled>
      <mat-card-title>{{segmentationProfiles.customers.length !==0 ? 'Результаты поиска' : 'По этому запросу ничего не найдено'}}</mat-card-title>
      <app-table-async-segmentation-profile
        *ngIf="segmentationProfiles.customers.length !== 0"
        [tableDataSource]="segmentationProfiles.customers">
      </app-table-async-segmentation-profile>
    </ng-template>
  </mat-card>
</div>
