<div class="messages">
  <mat-card *ngIf="progress">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </mat-card>
  <mat-accordion *ngIf="!progress" multi="true">

    <mat-card class="messages__sort mat-elevation-z0">
      <div class="messages__filter">
        <span
          matRipple
          matRippleColor="rgba(0,0,0,.1)"
          matRippleUnbounded="true"
          matRippleRadius="50"
          (click)="sortFilter('parsedSubject')"
        >
          <b>{{'PAGE.PROFILES.TABS_PROFILE.MESSAGES.HEADER.TOPIC_LETTER' | translate}} </b>
          <mat-icon>swap_vert</mat-icon>
        </span>
      </div>
      <div class="messages__filter">
        <span
          matRipple
          matRippleColor="rgba(0,0,0,.1)"
          matRippleUnbounded="true"
          matRippleRadius="50"
          (click)="sortFilter('distributionCustomerStatus.statusNameRus')"
        >
          <b>{{'PAGE.PROFILES.TABS_PROFILE.MESSAGES.HEADER.STATUS' | translate}}&nbsp;</b>
          <mat-icon>swap_vert</mat-icon>
        </span>
      </div>
      <div  class="messages__filter">
        <span
          matRipple
          matRippleColor="rgba(0,0,0,.1)"
          matRippleUnbounded="true"
          matRippleRadius="50"
          (click)="sortFilter('lastTryDT')"
        >
          <b>{{'PAGE.PROFILES.TABS_PROFILE.MESSAGES.HEADER.DATE' | translate}}&nbsp;</b>
          <mat-icon>swap_vert</mat-icon>
        </span>
      </div>
    </mat-card>

    <mat-expansion-panel
      *ngFor="let message of messages;"
      [expanded]="message.distributionId === distributionId"
      [id]="message.distributionId"
      (opened)="onOpenPanel( message.distributionId )"
    >
      <mat-expansion-panel-header>
        <div class="messages__header-wrapper">
          <div class="messages__title">
            <span>{{message.parsedSubject}}</span>
          </div>
          <div class="messages__title">
            <span>{{message.distributionCustomerStatus.distributionCustomerStatusId | emailMessagesTranslation | translate}}</span>
          </div>
          <div class="messages__title">
            <span>{{message.lastTryDT | date: 'dd.MM.yyyy, HH:mm'}}</span>
          </div>
        </div>
      </mat-expansion-panel-header>


      <ng-template matExpansionPanelContent>
        <mat-card class="messages__card mat-elevation-z0">
          <div [innerHtml]="message.parsedText | safeHtml" > </div>
          <span class="messages__link" routerLink="/crm/profile-email-distribution/{{message.distributionId}}">{{'PAGE.PROFILES.TABS_PROFILE.MESSAGES.TEMPLATE.GO_TO' | translate}}</span>
        </mat-card>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
