<div class="editor-sms">
  <form class="editor-sms__form" [formGroup]="formSms">
    <mat-grid-list cols="3" rowHeight="300px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="editor-sms__box mat-elevation-z0">
          <mat-form-field class="editor-sms__input">
            <input formControlName="subject" matInput placeholder="{{'POP_UP.EDITOR.DIALOG_SMS.TITLE' | translate}}">
            <mat-error>{{'FIELD.ERROR.OBLIGATORY_FIELD' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field class="editor-sms__input">
            <textarea #message formControlName="text" matInput rows="8" placeholder="{{'POP_UP.EDITOR.DIALOG_SMS.TEXT' | translate}}"></textarea>
            <mat-hint align="start"><strong>{{'POP_UP.EDITOR.DIALOG_SMS.SYMBOLS_ENTERED' | translate}}</strong> </mat-hint>
            <mat-hint align="end" [ngStyle]="{'color': counter.color}">{{counter.size}} / {{counter.nexStep}} | SMS: {{counter.counterSms}}</mat-hint>
            <mat-error>{{'FIELD.ERROR.OBLIGATORY_FIELD' | translate}}</mat-error>
          </mat-form-field>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="editor-sms__box mat-elevation-z0">
          <mat-form-field class="editor-sms__input">
            <mat-select formControlName="templateId" placeholder="{{'POP_UP.EDITOR.DIALOG_SMS.TEMPLATE' | translate}}">
              <mat-option></mat-option>
              <mat-option *ngFor="let template of templates"
                          [value]="template.distributionTemplateId"> {{template.title}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <button [disabled]="buttonDisabled" *ngIf="whichButton === 'save'" class="editor-email__button" mat-raised-button color="primary" (click)="saveDistribution()">{{'BUTTON.SAVE' | translate}} <mat-icon>save</mat-icon></button>
  <button [disabled]="buttonDisabled" *ngIf="whichButton === 'data'" class="editor-email__button" mat-raised-button color="primary" (click)="messageEventFn()">{{'BUTTON.CREATE_EVENT' | translate}} <mat-icon>event_available</mat-icon></button>
  <button [disabled]="buttonDisabled" *ngIf="whichButton === 'edit'" class="editor-email__button" mat-raised-button color="primary" (click)="messageEventFn()">{{'BUTTON.EDIT_EVENT' | translate}} <mat-icon>edit</mat-icon></button>
</div>














