.mat-tab-body-wrapper
  margin-top: 30px;

.tabs-profile

  &__card
    margin-bottom: 30px;

    &-grid
      background: #f9f9f9;
      border: 1px solid #dedede;
      position: absolute;
      top: 0;
      left: 2px;
      right: 2px;
      bottom: 0;