.profile-distribution

  &__email
    margin-bottom: 30px;
    padding: 25px 25px;

  &__header
    padding-bottom: 10px;
    color: rgba(0, 0, 0, .54);

  &__content
    max-width: 600px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;

  &__action,
  &__grid
    display: flex;
    flex-direction: column;
    padding-top: 25px;

    span
      margin-bottom: 15px;
      color: rgba(0, 0, 0, .54);

  &__grid
    margin-right: auto;

  &__button
    margin 0 5px !important;

    &-wrapper
      display: flex;
      margin: 0 auto;
      margin-top: 25px;

.mat-badge-content
  color: white !important;
  top: calc(50% - 22px / 2) !important;
  right: -27px !important;
