<div class="profile-distribution">

  <mat-card class="profile-distribution__email">
    <mat-progress-bar *ngIf="isLoader; else loaserEmail" mode="buffer"></mat-progress-bar>
    <ng-template #loaserEmail>
      <mat-card-header class="profile-distribution__header">
        <mat-card-title>Тема письма: <b>{{ distributionProfile.subject }}</b></mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="profile-distribution__content">
        <div [innerHtml]="distributionProfile.text | safeHtml"></div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="profile-distribution__action">
        <mat-grid-list cols="5" rowHeight="200px">
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="profile-distribution__grid">
              <span>Даты рассылок: <b> от {{ distributionProfile.dateFrom | date:'dd.MM.yyyy' }}, до {{ distributionProfile.dateTo | date:'dd.MM.yyyy' }} </b>  </span>
              <span>Дата и время создания рассылки: <b> {{ distributionProfile.lastTryDT }} </b>  </span>
              <span>Статус: <b> {{ distributionProfile.status.statusNameRus}} </b>  </span>
              <span *ngIf="distributionProfile.errorMessage" class="profile-distribution__error">Сообщение об ошибки: <b> {{ distributionProfile.errorMessage }} </b>  </span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <div class="profile-distribution__grid">
              <span [matBadge]="distributionProfile.distributionStatuses.notSentCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.notSentNameRus}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.sentToGatewayCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.sentToGatewayNameRus}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.sendToCustomerCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.sendToCustomerNameRus}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.errorCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.errorNameRus}}</span>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="profile-distribution__grid">
              <span [matBadge]="distributionProfile.distributionStatuses.deliveredCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.deliveredNameRus}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.readCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.readNameRus}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.clickedCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.clickedNameRus}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.bouncedCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.bouncedNameRus}}</span>
              <span [matBadge]="distributionProfile.distributionStatuses.rejectedCount" matBadgeOverlap="false" matBadgeColor="primary">{{distributionProfile.distributionStatuses.rejectedNameRus}}</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="profile-distribution__button-wrapper">
          <button
            class="profile-distribution__button"
            mat-raised-button
            color="primary"
            (click)="startDistribution()"
            [disabled]="startButtonDisabled"
            appAccessRights="distributions:update"
          >
            <mat-icon>send</mat-icon>
            Отправить рассылку
          </button>
          <button
            class="profile-distribution__button"
            mat-raised-button
            color="accent"
            (click)="stopDistribution()"
            [disabled]="stopButtonDisabled"
            appAccessRights="distributions:update"
          >
            <mat-icon>cancel</mat-icon>
            Отменить рассылку
          </button>
          <button
            class="profile-distribution__button"
            color="warn"
            mat-raised-button
            (click)="deleteDistribution()"
            [disabled]="deliteButtonDisabled"
            appAccessRights="distributions:update"
          >
            <mat-icon>delete</mat-icon>
            Удалить
          </button>
        </div>
      </mat-card-actions>
    </ng-template>
  </mat-card>

  <mat-card class="profile-distribution__table">
    <mat-progress-bar *ngIf="isLoader; else loaserDisabled" mode="buffer"></mat-progress-bar>
    <ng-template #loaserDisabled>
      <app-tablet-async-distribution-profile
        *ngIf="distributionProfile.customers.length !== 0"
        [tableDataSource]="distributionProfile.customers">
      </app-tablet-async-distribution-profile>
    </ng-template>
  </mat-card>

</div>