<div class="unsubscribe">
  <mat-card class="unsubscribe__card">
    <div class="unsubscribe__box">
      <div class="unsubscribe__card-title">
        <mat-card-title>
          {{'PAGE.UNSUBSCRIBE.TITLE' | translate}}
        </mat-card-title>
      </div>
      <div class="unsubscribe__button-wrapper">
        <button mat-flat-button class="unsubscribe__button" color="warn">{{'BUTTON.YES' | translate}}</button>
        <button mat-flat-button class="unsubscribe__button" color="primary">{{'BUTTON.NO' | translate}}</button>
      </div>
      <app-switch-lang class="unsubscribe__lang"></app-switch-lang>
    </div>
  </mat-card>
</div>
