.unsubscribe

  display: flex;
  height: 100%;


  &__card
    margin: auto;
    display: flex;
    flex-direction: column;

    &-title
      display: flex;
      justify-content: space-around;
      margin-bottom: 100px;

  &__box
    margin: auto !important;
    width: 100%;


  &__button
    width: 100px;
    height: 50px;
    font-size: 20px;

    &-wrapper
      display: flex;
      justify-content: space-around;

  &__lang
    display: none;
