<mat-card class="event__card">
  <mat-progress-bar *ngIf="isProgress; else loaderDisabled" mode="buffer"></mat-progress-bar>
  <ng-template #loaderDisabled>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{'PAGE.EVENTS.EVENT.CARD.NAME_EVENT' | translate}} {{task.title}}</mat-card-title>
      <mat-card-subtitle>{{'PAGE.EVENTS.EVENT.CARD.SEGMENTATION' | translate}} {{task.segmentation}}</mat-card-subtitle>
      <mat-card-subtitle>{{'PAGE.EVENTS.EVENT.CARD.MULTIPLICITY' | translate}} {{task.frequencySec}}</mat-card-subtitle>
      <mat-card-subtitle>
        {{'PAGE.EVENTS.EVENT.CARD.TYPE_EVENT.TITLE' | translate}}
        {{task.taskType === 1 ? ('PAGE.EVENTS.EVENT.CARD.TYPE_EVENT.EMAIL' | translate) : ('PAGE.EVENTS.EVENT.CARD.TYPE_EVENT.SMS' | translate) }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="event__template" [innerHtml]="task.distributionTemplate | safeHtml"></div>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="event__button"
        mat-raised-button
        color="primary"
        (click)="trigger()"
        appAccessRights="task:update"
      >
        {{'BUTTON.TRIGGER_EVENT' | translate}}
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>
