<div class="event">
  <mat-card class="event__card">
    <mat-progress-bar *ngIf="isProgress; else loaderCard" mode="buffer"></mat-progress-bar>
    <ng-template #loaderCard>
      <mat-card-header>
        <mat-card-title>{{'PAGE.EVENTS.EVENT.CARD.NAME_EVENT' | translate}} <b>{{task.title}}</b></mat-card-title>
        <mat-card-subtitle>{{'PAGE.EVENTS.EVENT.CARD.SEGMENTATION' | translate}} <b>{{task.segmentation}}</b>
        </mat-card-subtitle>
        <mat-card-subtitle>{{'PAGE.EVENTS.EVENT.CARD.MULTIPLICITY' | translate}} <b>{{task.frequencySec}}</b>
        </mat-card-subtitle>
        <mat-card-subtitle>
          {{'PAGE.EVENTS.EVENT.CARD.TYPE_EVENT.TITLE' | translate}}
          <b>{{task.distributionType === 1 ? ('PAGE.EVENTS.EVENT.CARD.TYPE_EVENT.EMAIL' | translate) : ('PAGE.EVENTS.EVENT.CARD.TYPE_EVENT.SMS' | translate) }}</b>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="event__template" [innerHtml]="task.distributionTemplate | safeHtml"></div>
        <span class="event__link" routerLink="/crm/add-event/"
              [queryParams]="{ taskId: this.task.taskId }">{{'PAGE.EVENTS.EVENT.CARD.EDIT' | translate}}</span>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="event__button"
          mat-raised-button
          color="primary"
          (click)="start()"
          appAccessRights="task:update"
          [disabled]="startButtonDisabled"
        >
          <mat-icon>play_arrow</mat-icon>
          {{'BUTTON.START_EVENT' | translate}}
        </button>
        <button
          class="event__button"
          mat-raised-button
          color="accent"
          (click)="stop()"
          appAccessRights="task:update"
          [disabled]="stopButtonDisabled"
        >
          <mat-icon>stop</mat-icon>
          {{'BUTTON.STOP_EVENT' | translate}}
        </button>
      </mat-card-actions>
    </ng-template>
  </mat-card>

  <mat-card class="event__card">
    <mat-progress-bar *ngIf="isLoader; else loaderTable" mode="buffer"></mat-progress-bar>
    <ng-template #loaderTable>
      <mat-card-title>{{taskLog.result.length !==0 ? ('TABLE.RESULT.OK' | translate) : ('TABLE.RESULT.ERROR' | translate)}}</mat-card-title>
      <app-table-async-event-profile
        *ngIf="taskLog"
        [tableDataSource]="taskLog.result"></app-table-async-event-profile>
    </ng-template>
  </mat-card>
</div>
