.login

  &__card
    width: 500px
    text-align: center

  &__button
    width: 100%
    margin-bottom: 20px

  &__form
    margin-top: 30px

  &__input
    display: block
    width: 100%
    margin-bottom: 30px

  &__lang
    display: flex;
    align-items: center;
    justify-content: space-around;

