<div class="profile-search">
  <form class="profile-search__form" [formGroup]="formProfileSearch">
    <mat-grid-list cols="4" rowHeight="300px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="lastname" type="text" placeholder="Фамилия">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="firstname" type="text" placeholder="Имя">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="id" type="text" placeholder="Profile ID">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="ticketnum" type="text" placeholder="№ билета">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="booknum" type="text" placeholder="№ брони">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="emdnum" type="text" placeholder="№ EMD">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="flightnum" type="text" placeholder="№ рейса">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="flightdatefrom" placeholder="dd.MM.yyyy" [matDatepicker]="flightDateFrom">
              <mat-datepicker-toggle matSuffix [for]="flightDateFrom"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #flightDateFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="flightdateto" placeholder="dd.MM.yyyy" [matDatepicker]="flightDateTo">
              <mat-datepicker-toggle matSuffix [for]="flightDateTo"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #flightDateTo color="primary"></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="cityidfrom" type="text" placeholder="Откуда" [matAutocomplete]="cityfrom">
              <mat-autocomplete #cityfrom="matAutocomplete">
                <mat-option *ngFor="let city of cityFromOptions | async" [id]="city.id" [value]="city.value">{{ city.value }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="cityidto" type="text" placeholder="Куда" [matAutocomplete]="cityTo">
              <mat-autocomplete #cityTo="matAutocomplete">
                <mat-option *ngFor="let city of cityToOptions | async" [id]="city.id" [value]="city.value">{{ city.value }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="citydatefrom" placeholder="dd.MM.yyyy" [matDatepicker]="cityDateFrom">
              <mat-datepicker-toggle matSuffix [for]="cityDateFrom"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #cityDateFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="citydateto" placeholder="dd.MM.yyyy" [matDatepicker]="cityDateTo">
              <mat-datepicker-toggle matSuffix [for]="cityDateTo"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #cityDateTo></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <mat-select formControlName="divisionid" placeholder="Название группы">
                <mat-option *ngFor="let tree of trees" [value]="tree.Name" [id]="tree.ID" >{{ tree.Name }} | ID={{ tree.ID }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <mat-select formControlName="groupid" placeholder="Название спец группы">
                <mat-option *ngFor="let group of groups" [value]="group.Name" [id]="group.Id">{{ group.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-header>Общая сумма (RUB)</mat-card-header>
          <mat-card-content class="profile-search__content _input-row">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="amountfrom" type="text" placeholder="От">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="amountto" type="text" placeholder="До">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="profile-search__card">
          <mat-card-content class="profile-search__content">
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="email" type="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="profile-search__input">
              <input matInput formControlName="phone" type="text" placeholder="Телефон">
            </mat-form-field>
            <mat-checkbox  formControlName="withoutcontact">Отсутствие контакта</mat-checkbox>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <div class="profile-search__button-wrapper">
        <button class="profile-search__button _left-button" mat-raised-button (click)="sendForm()" color="primary">
          <mat-icon>search</mat-icon>
          Искать
        </button>
        <button class="profile-search__button" mat-raised-button (click)="clearForm()">Очистить форму</button>
      </div>

    </mat-grid-list>
  </form>

  <div class="profile-search__table">
    <mat-card *ngIf="isTableCard">
      <mat-progress-bar *ngIf="isLoader; else loaserDisabled" mode="buffer"></mat-progress-bar>
      <ng-template #loaserDisabled>
        <mat-card-title>{{profiles.length !==0 ? 'Результаты поиска' : 'По этому запросу ничего не найдено'}}</mat-card-title>
          <app-table-async
            [tableHeader]="[
              ['FirstName', 'Имя'],
              ['LastName', 'Фамилия'],
              ['Dob', 'Дата рождения'],
              ['Sex', 'Пол'],
              ['SumAmount', 'Общая сумма'],
              ['Id', 'ID']
            ]"
            [tableDataSource]="profiles"
          >
          </app-table-async>
      </ng-template>
    </mat-card>
  </div>
</div>
