.document

  &__header
    color: #424242

  &__form
    margin-top: 20px
    height: 440px;
    display: flex;
    flex-direction: column;

  &._additional
    justify-content: space-around;
    align-items: center
    flex-direction: row;
    height: auto;

    .profile__input
      width: 25%;

    .profile__button
      height: 36px;


  &__input
    display: block

  &__button

    &._left-button
      margin-left: auto
      margin-right: 5px

    &-wrapper
      margin-top: auto;
      display: flex