.document

  &__header
    color: #424242

  &__form
    margin-top: 20px
    display: flex;
    justify-content: space-around;
    align-items: center
    flex-direction: column;
    height: auto;

    &-wrapper
      display: flex;
      justify-content: space-between;
      align-items: center
      flex-direction: row;
      height: auto;
      width: 100%;

  &__input
    width: 24%
    display: block

    &._flex
      flex: 1;
      margin-left: 15px

  &__button

    &._left-button
      margin-left: auto
      margin-right: 5px

    &-wrapper
      width: 100%;
      margin-top: auto;
      display: flex

  &__show
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    span
      margin-left: auto;
      margin-right: 10px;
      cursor: pointer;
      font-weight: bold;
      color: #424242;
      font-size: 14px;

    mat-icon
      width: 34px;
      height: 34px;
      font-size: 34px;
      cursor: pointer;
      color: #696969;