.distribution-report

  &__dir,
  &__template
    color: #464646;
    cursor: pointer;

  &__dir
    font-size 16px;

  &__progress-bar
    margin-top: 15px;

  &__pdf-viewer
    text-align: center;
    margin-top: 15px;

  &__paginator
    margin-bottom: 10px;




.example-tree
  mat-icon
    color: #464646;

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}