<?xml version="1.0" encoding="utf-8"?>
<serviceSettings
   connectionString="Moon">

  <airlines>
    <airline code="UT"
      pathIn="in"
      pathOut="out"
      pathErr="err"
    />
    <airline code="7R"
      pathIn="in2"
      pathOut="out2"
      pathErr="err2"
    />    
  </airlines>
</serviceSettings>