<?xml version="1.0" encoding="utf-8"?>
<serviceSettings
  dateStart="2018-03-01 10:00"
  getTransactionsListDelayInMillisecond="100"
  getTransactionsDetailDelayInMillisecond="100">

  <sebGateway
    url="http://10.4.20.67:5005"
    proxy=""
    transactionInBatchLimit="10"
    connectionLimit="2"
    rangeInMinutes="30"
  />
  
  <airlines>
    <airline code="UT"
      path="c:\test\Seb2\UT\"
    />
    <airline code="Y1"
      path="c:\test\Seb2\Y1\"
    />    
    <airline code="Z9"
      path="c:\test\Seb2\Z9\"
    />
    <airline code="5F"
      path="c:\test\Seb2\5F\"
    />
    <airline code="YC"
      path="c:\test\Seb2\YC\"
    />
    <airline code="HZ"
      path="c:\test\Seb2\HZ\"
    />  
    <airline code="YQ"
      path="c:\test\Seb2\YQ\"
    />
    <airline code="DP"
      path="c:\test\Seb2\DP\"
    />  
    <airline code="7R"
      path="c:\test\Seb2\7R\"
    />    
  </airlines>
</serviceSettings>