<?xml version="1.0" encoding="utf-8"?>
<serviceSettings
  dateStart="2018-03-01 10:00"
  rangeInMinutes="10">

  <sebGateway
    url="http://10.4.20.67:5005"
    proxy=""
    transactionInBatchLimit="10"
    connectionLimit="2"
    getTransactionsListDelayInMillisecond="100"
    getTransactionsDetailDelayInMillisecond="100"
  />
  
  <airlines>
    <airline code="UT"
      pathIn="in"
      pathOut="out"
      pathErr="err"
    />
    <airline code="7R"
      pathIn="in2"
      pathOut="out2"
      pathErr="err2"
    />    
  </airlines>
</serviceSettings>