.add-promotions-cods

  &__card
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;

  &__content
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &._d-b
      display: block;

  &__date
    display: flex;

  &__input
    width: 100%


  &__button
    margin-right: 15px;

    &-wrapper
      position: absolute;
      bottom: -66px;
      right: 15px;
      left: 15px;
      text-align right;
      margin-bottom: 20px;