<div class="add-promotions-cods">
  <form class="add-promotions-cods__form" [formGroup]="formPromoCods">

    <mat-grid-list cols="4" rowHeight="85px">

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="add-promotions-cods__card">
          <mat-card-content class="add-promotions-cods__content">
            <mat-form-field class="add-promotions-cods__input">
              <input matInput formControlName="promotionName" type="text" placeholder="Промоакция"
                     [matAutocomplete]="promotion">
              <mat-autocomplete #promotion="matAutocomplete">
                <mat-option *ngFor="let promotion of promotionsOptions | async"
                            [value]="promotion.promotionName">{{ promotion.promotionName }}</mat-option>
              </mat-autocomplete>
              <mat-error>Обязательное поле</mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="2" [rowspan]="4">
        <mat-card class="add-promotions-cods__card">
          <div class="add-promotions-cods__content-wrapper">
            <mat-card-content class="add-promotions-cods__content _d-b">
              <mat-form-field class="add-promotions-cods__input">
                <mat-chip-list #chipPromoCodeFlightList>
                  <mat-chip
                    [ngStyle]="{'background-color': '#03a9f4', 'color': 'white'}"
                    *ngFor="let promoCodeFlightListChip of promoCodeFlightListChips"
                    [selectable]="promoCodeFlightListSelectable"
                    [removable]="promoCodeFlightListRemovable"
                    (removed)="remove(promoCodeFlightListChip, promoCodeFlightListChips, 'promoCodeFlightListChips')">
                    {{promoCodeFlightListChip}}
                    <mat-icon matChipRemove *ngIf="promoCodeFlightListRemovable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Номера рейсов"
                    #promoCodeFlightListChipInput
                    formControlName="promoCodeFlightList"
                    [matChipInputFor]="chipPromoCodeFlightList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addPromoCodeFlightListOnBlur"
                    (matChipInputTokenEnd)="add($event, 'promoCodeFlightList', 'promoCodeFlightListChips')">
                </mat-chip-list>
              </mat-form-field>
              <mat-form-field class="add-promotions-cods__input">
                <input matInput formControlName="flightDateFrom" placeholder="Период реализации от"
                       [matDatepicker]="flightDateFrom">
                <mat-datepicker-toggle matSuffix [for]="flightDateFrom"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #flightDateFrom></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="add-promotions-cods__input">
                <input matInput formControlName="flightDateTo" placeholder="Период реализации до"
                       [matDatepicker]="flightDateTo">
                <mat-datepicker-toggle matSuffix [for]="flightDateTo"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #flightDateTo></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="add-promotions-cods__input">
                <mat-chip-list #chipPromoCodeBrandListList>
                  <mat-chip
                    [ngStyle]="{'background-color': '#03a9f4', 'color': 'white'}"
                    *ngFor="let promoCodeBrandListChip of promoCodeBrandListChips"
                    [selectable]="promoCodeBrandListSelectable"
                    [removable]="promoCodeBrandListRemovable"
                    (removed)="remove(promoCodeBrandListChip, promoCodeBrandListChips, 'promoCodeBrandListChips')">
                    {{promoCodeBrandListChip}}
                    <mat-icon matChipRemove *ngIf="promoCodeBrandListRemovable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Бренды"
                    #promoCodeBrandListChipInput
                    formControlName="promoCodeBrandList"
                    [matChipInputFor]="chipPromoCodeBrandListList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addPromoCodeBrandListOnBlur"
                    (matChipInputTokenEnd)="add($event, 'promoCodeBrandList', 'promoCodeBrandListChips')">
                </mat-chip-list>
              </mat-form-field>
              <mat-form-field class="add-promotions-cods__input">
                <mat-chip-list #chipPromoCodeRbdListList>
                  <mat-chip
                    [ngStyle]="{'background-color': '#03a9f4', 'color': 'white'}"
                    *ngFor="let promoCodeRbdListChip of promoCodeRbdListChips"
                    [selectable]="promoCodeRbdListSelectable"
                    [removable]="promoCodeRbdListRemovable"
                    (removed)="remove(promoCodeRbdListChip, promoCodeRbdListChips, 'promoCodeRbdListChips')">
                    {{promoCodeRbdListChip}}
                    <mat-icon matChipRemove *ngIf="promoCodeRbdListRemovable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="RBD"
                    #promoCodeRbdListChipInput
                    formControlName="promoCodeRbdList"
                    [matChipInputFor]="chipPromoCodeRbdListList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addPromoCodeRbdListOnBlur"
                    (matChipInputTokenEnd)="add($event, 'promoCodeRbdList', 'promoCodeRbdListChips')">
                </mat-chip-list>
              </mat-form-field>
            </mat-card-content>
            <mat-card-content class="add-promotions-cods__content _d-b _space">
              <div class="add-promotions-cods__date">
                <mat-form-field class="profile-search__input">
                  <input matInput formControlName="depLocationId" type="text" placeholder="Направление откуда" [matAutocomplete]="depLocationId">
                  <mat-autocomplete #depLocationId="matAutocomplete">
                    <mat-option *ngFor="let location of locationFromOptions | async" [value]="location.locationCode">{{ location.locationCode }}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="profile-search__input">
                  <input matInput formControlName="arrLocationId" type="text" placeholder="Направление куда" [matAutocomplete]="arrLocationId">
                  <mat-autocomplete #arrLocationId="matAutocomplete">
                    <mat-option *ngFor="let location of locationToOptions | async" [value]="location.locationCode">{{ location.locationCode }}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-icon class="add-promotions-cods__add">add</mat-icon>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="4">
        <mat-card class="add-promotions-cods__card">
          <mat-card-content class="add-promotions-cods__content _d-b">
            <mat-form-field class="add-promotions-cods__input">
              <input matInput type="text" placeholder="Персональная кастность использования">
            </mat-form-field>
            <mat-form-field class="add-promotions-cods__input">
              <input matInput type="text" placeholder="Бренды">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="5">
        <mat-card class="add-promotions-cods__card">
          <mat-card-content class="add-promotions-cods__content">
            <mat-form-field class="add-promotions-cods__input">
              <input matInput formControlName="code" type="text" placeholder="Промокод">
            </mat-form-field>
            <mat-form-field class="add-promotions-cods__input">
              <input matInput formControlName="accountCode" type="text" placeholder="Account code">
            </mat-form-field>
            <mat-form-field class="add-promotions-cods__input">
              <input matInput formControlName="dateFrom" placeholder="Период Действия от" [matDatepicker]="dateFrom">
              <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #dateFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="add-promotions-cods__input">
              <input matInput formControlName="dateTo" placeholder="Период Действия до" [matDatepicker]="dateTo">
              <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #dateTo></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="add-promotions-cods__input">
              <textarea rows="3" matInput formControlName="description" type="text"
                        placeholder="Описание промоакции"></textarea>
            </mat-form-field>
            <mat-form-field class="add-promotions-cods__input">
              <textarea rows="3" matInput formControlName="reason" type="text" placeholder="Основание"></textarea>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="add-promotions-cods__card">
          <mat-card-content class="add-promotions-cods__content">
            <mat-form-field class="add-promotions-cods__input">
              <input matInput type="text" placeholder="Профиль">
            </mat-form-field>
            <mat-form-field class="add-promotions-cods__input">
              <input matInput type="text" placeholder="Группы профилей">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


      <div class="add-promotions-cods__button-wrapper">
        <button appAccessRights="promotions:update" class="add-promotions-cods__button" mat-raised-button
                (click)="saveForm()" color="primary">
          <mat-icon>save</mat-icon>
          Сохранить
        </button>
        <button class="add-promotions-cods__button" mat-raised-button (click)="clearForm()">
          <mat-icon>clear</mat-icon>
          Очистить форму
        </button>
      </div>
    </mat-grid-list>

  </form>
</div>
