<div class="setting">
  <mat-card class="setting__card">
    <mat-card-header>
      <h2 class="setting__header">Настройка таблице пассажиров</h2>
    </mat-card-header>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="setting__content">
          <h3 class="setting__header">Настройка сталбцов</h3>
          <form class="setting__form" [formGroup]="formTableAsyncProfile">
            <mat-checkbox class="setting__checkbox" formControlName="firstName">Имя</mat-checkbox>
            <mat-checkbox class="setting__checkbox" formControlName="lastName">Фамилия</mat-checkbox>
            <mat-checkbox class="setting__checkbox" formControlName="middleName">Второе имя</mat-checkbox>
            <mat-checkbox class="setting__checkbox" formControlName="prefix">Префикс</mat-checkbox>
            <mat-checkbox class="setting__checkbox" formControlName="gender">Пол</mat-checkbox>
            <mat-checkbox class="setting__checkbox" formControlName="dob">Дата</mat-checkbox>
          </form>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="setting__content">
          <h3 class="setting__header">Порядок сталбцов</h3>
          <mat-list class='setting__container' [dragula]="MANY_ITEMS" [(dragulaModel)]='itemsTableAsyncProfile'>
            <mat-list-item class='setting__item' *ngFor='let text of itemsTableAsyncProfile' [innerHtml]='text'></mat-list-item>
          </mat-list>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>