<div class="add-promotions">
  <form class="add-promotions__form" [formGroup]="formPromotions">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="add-promotions__card">
          <mat-card-content class="add-promotions__content">
            <mat-form-field class="add-promotions__input">
              <input matInput formControlName="promotionName" type="text" placeholder="{{'PAGE.PROMOTIONS.ADD_PROMOTIONS.FIELD.PROMOTIONS' | translate}}">
              <mat-error>{{'FIELD.ERROR.OBLIGATORY_FIELD' | translate}}</mat-error>
            </mat-form-field>
            <button appAccessRights="promotions:update" class="add-promotions__button" mat-raised-button
                    (click)="saveForm()" color="primary">
              <mat-icon>save</mat-icon>
              {{'BUTTON.SAVE' | translate}}
            </button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  <mat-card class="add-promotions__table">
    <mat-progress-bar *ngIf="isLoaderPromotions; else tablePromotions" mode="buffer"></mat-progress-bar>
    <ng-template #tablePromotions>
      <app-table-async-promotions
        *ngIf="promotions.result.length !== 0"
        [tableDataSource]="promotions.result">
      </app-table-async-promotions>
    </ng-template>
  </mat-card>

  <mat-card class="add-promotions__table" *ngIf="isTablePromoCode">
    <mat-progress-bar *ngIf="isLoaderPromoCode; else tablePromoCode" mode="buffer"></mat-progress-bar>
    <ng-template #tablePromoCode>
      <app-table-async-search-promo-code
        *ngIf="promoCode.result.length !== 0"
        [tableDataSource]="promoCode.result">
      </app-table-async-search-promo-code>
    </ng-template>
  </mat-card>
</div>




















