.contact

    &__form
      display: flex;
      justify-content: space-around;

    &__input
      width: 30%;

    &__button

      &._left-button
        margin-right: 15px;

      &-wrapper
        margin-top: 20px;
        text-align right;
