.editor
  &__box
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 0;

  &__input
    width: 100%;

    &-informational
      color: #ff5722;

  &__button
    margin-top: 30px;
    margin-right: 15px;

    mat-icon
      margin-right: 10px;