select = 70px

distributionId = 50px


.table

  &__row
    white-space: nowrap;

  &__cell
    text-overflow: ellipsis;
    display: inline-block;
    min-height auto;
    &._cp
      cursor: pointer
      padding: 16px;
      &:hover
        background: rgba(63,81,181,.12)

  &__input
    width: 100%;

  &__button

    &-wrapper
      display: flex;
      width: 100%;

  &__detail
    overflow: hidden;
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);


  &__distribution-statuses
    padding: 16px;
    width: 100%;

  &__grid
    display: flex;
    flex-direction: column;
    padding-top: 25px;

    span
      margin-bottom: 15px;
      color: rgba(0, 0, 0, .54);

.mat-column


  &-select
    width: select;

  &-subject,
  &-statusNameRus,
  &-dateFrom,
  &-dateTo,
  &-lastTryDT
    flex: 1;

  &-distributionId
    width: distributionId;
    margin-left: auto;
    mat-icon
      cursor: pointer
      color: #696969;
      margin-left: auto

  &-expandedDetail
    padding 0
    width: 100%




mat-table
  display: table;
  width: 100%;

mat-header-cell,
mat-cell
  padding: 0 16px;
  width: auto
  flex: none;
  box-sizing: border-box;


.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}


.example-detail-row
  min-height: 0;

.example-element-row
  cursor: pointer;

.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row {
  border-bottom-width: 0;
}

.mat-badge-content
  color: white !important;
  top: calc(50% - 22px / 2) !important;
  right: -70px !important;
  width auto !important;
  padding 0 8px;
  border-radius: 50px;
