<mat-grid-list mat-grid-list cols="1" rowHeight="550px">
   <mat-grid-tile>
    <mat-card class="user__card">
      <mat-card-title>Добавить пользователя</mat-card-title>
      <form class="user__form" [formGroup]="formUser">
        <mat-form-field class="user__input">
          <input matInput formControlName="Login" placeholder="Логин">
        </mat-form-field>
        <mat-form-field class="user__input">
          <input matInput formControlName="Password" type="password" placeholder="Пароль">
        </mat-form-field>
        <mat-form-field class="user__input">
          <input matInput formControlName="LoginName" placeholder="ФИО">
        </mat-form-field>
        <mat-form-field class="user__input">
          <input matInput type="email" formControlName="Email" placeholder="email">
        </mat-form-field>
        <div class="user__button-wrapper">
          <button class="user__button _left-button" mat-raised-button (click)="sendForm()" color="primary">Добавить пользователя</button>
          <button class="user__button" mat-raised-button (click)="clearForm()">Очистить форму</button>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
