.dialog

  &__ok
    color green;

  &__error,
  &__delete
    color #f44336;

  &__text
    word-wrap break-word;

  &__button

    &._left-button
      margin-left: auto
      margin-right: 5px

    &-wrapper
      margin-top: auto;
      display: flex

  &__form
    display: flex;
    flex-direction: column;

  &__input
    width: 500px;

  &__wrapper
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2
      color: #424242;

    mat-icon
      color: #696969;
      cursor: pointer;


