<div class="dialog">
  <h2 mat-dialog-title *ngIf="data.status === 'ok'" class="dialog__ok">{{ data.message | translate }}</h2>
  <h2 mat-dialog-title *ngIf="data.status === 'error'" class="dialog__error">{{ data.message | translate }}</h2>
  <h2 mat-dialog-title *ngIf="data.status === 'text'" class="dialog__text">{{ data.message | translate }}</h2>
  <div *ngIf="data.status === 'delete'">
    <h2 mat-dialog-title class="dialog__delete">{{ data.message | translate }}</h2>
    <div class="dialog__button-wrapper">
      <button class="dialog__button _left-button" mat-stroked-button (click)="onYesClick()" color="warn">{{'DIALOG.YES' | translate}}</button>
      <button class="dialog__button" mat-stroked-button (click)="onNoClick()" color="primary">{{'DIALOG.NO' | translate}}</button>
    </div>
  </div>

  <div *ngIf="data.status === 'updateContact'">
    <form class="dialog__form" [formGroup]="formUpdateContact">
      <mat-form-field class="dialog__input">
        <input matInput formControlName="contactText" [placeholder]="this.data.params.typeCode">
      </mat-form-field>
      <button appAccessRights="customers:update" mat-raised-button (click)="onYesClick()" color="primary">
        {{'BUTTON.EDIT' | translate}}
      </button>
    </form>
  </div>

  <div *ngIf="data.status === 'updateProfileName'">
    <form class="dialog__form" [formGroup]="formUpdateProfileName">
      <mat-form-field class="dialog__input">
        <input matInput formControlName="firstName" placeholder="{{'DIALOG.UPDATE_PROFILE.FIRST_NAME' | translate}}">
        <mat-error>{{'FIELD.ERROR.OBLIGATORY_FIELD' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="dialog__input">
        <input matInput formControlName="lastName" placeholder="{{'DIALOG.UPDATE_PROFILE.LAST_NAME' | translate}}">
      </mat-form-field>
      <mat-form-field class="dialog__input">
        <input matInput formControlName="secondName" placeholder="{{'DIALOG.UPDATE_PROFILE.MIDDLE_NAME' | translate}}">
      </mat-form-field>
      <button appAccessRights="customers:update" mat-raised-button (click)="onYesClick()" color="primary">
        {{'BUTTON.EDIT' | translate}}
      </button>
    </form>
  </div>

  <div *ngIf="data.status === 'updateDocument'">
    <form class="dialog__form" [formGroup]="formUpdateDocument">
      <mat-form-field class="dialog__input">
        <input matInput formControlName="num" placeholder="{{'DIALOG.DOCUMENT.NUM' | translate}}">
      </mat-form-field>
      <mat-form-field class="dialog__input">
        <input matInput formControlName="firstName" placeholder="{{'DIALOG.DOCUMENT.FIRST_NAME' | translate}}">
      </mat-form-field>
      <mat-form-field class="dialog__input">
        <input matInput formControlName="lastName" placeholder="{{'DIALOG.DOCUMENT.LAST_NAME' | translate}}">
      </mat-form-field>
      <mat-form-field class="dialog__input">
        <input matInput formControlName="secondName" placeholder="{{'DIALOG.DOCUMENT.MIDDLE_NAME' | translate}}">
      </mat-form-field>
      <mat-form-field class="dialog__input">
        <input matInput formControlName="expDate" placeholder="{{'DIALOG.DOCUMENT.EXP_DATE' | translate}}" [matDatepicker]="expDate">
        <mat-datepicker-toggle matSuffix [for]="expDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #expDate></mat-datepicker>
      </mat-form-field>
      <button appAccessRights="customers:update" mat-raised-button (click)="onYesClick()" color="primary">
        {{'BUTTON.EDIT' | translate}}
      </button>
    </form>
  </div>

  <div *ngIf="data.status === 'updatePromotions'">
    <form class="dialog__form" [formGroup]="formUpdatePromotions">
      <mat-form-field class="dialog__input">
        <input matInput formControlName="promotionsName">
      </mat-form-field>
      <button appAccessRights="customers:update" mat-raised-button (click)="onYesClick()" color="primary">
        {{'BUTTON.EDIT' | translate}}
      </button>
    </form>
  </div>

  <div *ngIf="data.status === 'listSegmentation'" [ngStyle]="{'width': '1000px'}">
    <mat-list role="listitem" *ngFor="let segmentation of data.params.segmentation; let i = index">
      <div class="dialog__wrapper">
        <h3>{{segmentation.title}}</h3>
        <mat-icon mat-list-icon (click)="openSegmentation(segmentation.segmentationId)">remove_red_eye</mat-icon>
      </div>
      <mat-divider *ngIf="data.params.segmentation.length - 1 !== i"></mat-divider>
    </mat-list>
  </div>

  <div *ngIf="data.status === 'addProfileGroup'" [ngStyle]="{'width': '1000px'}">
    <form class="dialog__form" [formGroup]="formProfileGroups">
      <mat-form-field class="dialog__input _cost-input">
        <mat-select formControlName="customerGroupId" placeholder="{{'DIALOG.ADD_PROFILE_GROUP.CUSTOMER_GROUP' | translate}}">
          <mat-option value="0"></mat-option>
          <mat-option *ngFor="let profileGroup of profileGroups" value="{{profileGroup.customerGroupId}}">
            {{profileGroup.customerGroupName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <mat-progress-bar *ngIf="isLoader; else loaderDisabled" mode="buffer"></mat-progress-bar>
    <ng-template #loaderDisabled>
      <mat-list role="listitem" *ngFor="let profileGroup of paramsProfileGroup let i = index">
        <div class="dialog__wrapper">
          <h3>{{profileGroup.customerGroup.customerGroupName}}</h3>
          <mat-icon mat-list-icon (click)="deleteProfileGroup(profileGroup.customerGroupRelationId)">clear</mat-icon>
        </div>
        <mat-divider *ngIf="paramsProfileGroup.length - 1 !== i"></mat-divider>
      </mat-list>
    </ng-template>
  </div>

  <div *ngIf="data.status === 'startEmailDistribution'">
    <h2 mat-dialog-title class="dialog__delete">{{ data.message }}</h2>
    <div class="dialog__button-wrapper">
      <button class="dialog__button _left-button" mat-stroked-button (click)="onYesClick()" color="warn">{{'DIALOG.YES' | translate}}</button>
      <button class="dialog__button" mat-stroked-button (click)="onNoClick()" color="primary">{{'DIALOG.NO' | translate}}</button>
    </div>
  </div>

  <div *ngIf="data.status === 'startSmsDistribution'">
    <h2 mat-dialog-title class="dialog__delete">{{ data.message | translate }}</h2>
    <div class="dialog__button-wrapper">
      <button class="dialog__button _left-button" mat-stroked-button (click)="onYesClick()" color="warn">{{'DIALOG.YES' | translate}}</button>
      <button class="dialog__button" mat-stroked-button (click)="onNoClick()" color="primary">{{'DIALOG.NO' | translate}}</button>
    </div>
  </div>



  <div *ngIf="data.status === 'intersection'">
    <h2 mat-dialog-title class="dialog__text">{{'DIALOG.INTERSECTION.TITLE' | translate}}</h2>
    <mat-accordion  class="promo-code__accordion" multi="true">
      <mat-expansion-panel class=" mat-elevation-z5" *ngFor=" let promoCode of data.intersection ">
        <mat-expansion-panel-header>
          <div class="promo-code__header-wrapper">
            <div class="promo-code__title">
              <span> {{promoCode.code}} </span>
            </div>
            <div class="promo-code__title">
              <span> {{ promoCode.promotion.promotionName }} </span>
            </div>
            <div class="promo-code__title">
              <span> {{promoCode.dateFrom | date:'dd.MM.yyyy'}} </span>
            </div>
            <div class="promo-code__title">
              <span> {{promoCode.dateTo | date:'dd.MM.yyyy'}} </span>
            </div>
          </div>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <mat-card class="promo-code__card mat-elevation-z0">
            <div class="promo-code__box">


              <div class="promo-code__info">
                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text"> {{'DIALOG.INTERSECTION.ACCOUNT_CODE' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span><b>{{promoCode.accountCode}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.VAL' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span><b>{{promoCode.val}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.PROMOTIONS_CODE_VAL.TITLE' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span><b>{{ promoCode.promoCodeValTypeId === 1 ? ('DIALOG.INTERSECTION.PROMOTIONS_CODE_VAL.AMOUNT' | translate) : ('DIALOG.INTERSECTION.PROMOTIONS_CODE_VAL.PERCENT' | translate) }}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.USES_PER' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span><b>{{promoCode.usesPerPerson}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.USES_TOTAL' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span><b>{{promoCode.usesTotal}}</b></span>
                  </div>
                </div>
              </div>


              <div class="promo-code__info">
                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.FLIGHT' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span *ngFor="let flightList of promoCode.promoCodeFlightList "><b>{{flightList}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.FLIGHT_DATA_FROM' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span><b>{{promoCode.flightDateFrom | date:'dd.MM.yyyy'}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.FLIGHT_DATA_TO' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span><b>{{promoCode.flightDateTo | date:'dd.MM.yyyy'}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.BRAND' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span *ngFor="let brandList of promoCode.promoCodeBrandList"><b>{{brandList}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.RDD' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span *ngFor="let rbdList of promoCode.promoCodeRbdList"><b>{{rbdList}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.DIRECTIONS' | translate}}</span>
                  <div class="promo-code__info-params">
                    <div class="promo-code__info-direction" *ngFor="let routeList of promoCode.promoCodeRouteList">
                      <div
                        class="promo-code__info-location">{{routeList.dep_Location !== '' && routeList.dep_Location !== null ? routeList.dep_Location : '∞'}}</div>
                      <mat-icon>arrow_right_alt</mat-icon>
                      <div
                        class="promo-code__info-location">{{routeList.arr_Location !== '' && routeList.arr_Location !== null ? routeList.arr_Location : '∞'}}</div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="promo-code__info">
                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.CUSTOMER' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span *ngFor="let customersId of promoCode.customersIds"><b>{{customersId}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.SEGMENTATION' | translate}}</span>
                  <div class="promo-code__info-params">
                    <span *ngFor="let segmentation of promoCode.segmentations"><b>{{segmentation.title}}</b></span>
                  </div>
                </div>

                <div class="promo-code__info-wrapper">
                  <span class="promo-code__info-text">{{'DIALOG.INTERSECTION.CUSTOMER_GROUP' | translate}}</span>
                  <div class="promo-code__info-params">
                  <span
                    *ngFor="let customerGroup of promoCode.customerGroups"><b>{{customerGroup.customerGroupName}}</b></span>
                  </div>
                </div>

              </div>
            </div>

            <span class="promo-code__link" (click)="onNoClick()" routerLink="/crm/add-promotions-codes"
                  [queryParams]="{ promoCodeId: promoCode.promoCodeId }">{{'DIALOG.INTERSECTION.GO_TO' | translate}}</span>
          </mat-card>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


</div>















