<div class="dialog-promo-cod">
  <form class="dialog-promo-cod__form" [formGroup]="formPromoCod">
    <mat-form-field class="dialog-promo-cod__input">
      <input matInput formControlName="promoCodeId" [matAutocomplete]="promoCodeId" type="text" placeholder="Промокод">
      <mat-autocomplete #promoCodeId="matAutocomplete">
        <mat-option
          class="dialog-promo-cod__option"
          *ngFor="let promoCod of promoCodsOptions | async"
          [value]="promoCod.title"
        >
          <span>Название промокода: <b>{{promoCod.code}}</b></span> |
          <span>Аккаунт код: <b>{{promoCod.accountCode}}</b></span> |
          <span>Срок действия: От <b>{{promoCod.dateFrom | date:'dd.MM.yyyy'}}</b>  До <b>{{promoCod.dateTo | date:'dd.MM.yyyy'}}</b></span>
        </mat-option>
      </mat-autocomplete>
      <mat-error>Обязательное поле</mat-error>
    </mat-form-field>
    <button appAccessRights="promotions:update" class="dialog-promo-cod__button" mat-raised-button
            (click)="saveForm()" color="primary">
      <mat-icon>save</mat-icon>
      Добавить
    </button>
  </form>
</div>