<div class="dialog-promo-cod">
  <form class="dialog-promo-cod__form" [formGroup]="formPromoCod">
    <mat-form-field class="dialog-promo-cod__input">
      <input matInput formControlName="promoCodeId" [matAutocomplete]="promoCodeId" type="text" placeholder="Промокод">
      <mat-autocomplete #promoCodeId="matAutocomplete">
        <mat-option *ngFor="let promoCod of promoCodsOptions | async"
                    [value]="promoCod.title">{{ promoCod.title }}</mat-option>
      </mat-autocomplete>
      <mat-error>Обязательное поле</mat-error>
    </mat-form-field>
    <button appAccessRights="promotions:update" class="dialog-promo-cod__button" mat-raised-button
            (click)="saveForm()" color="primary">
      <mat-icon>save</mat-icon>
      Добавить
    </button>
  </form>
</div>