<div class="add-event">
  <div class="add-event__wrapper">
    <form [formGroup]="formEvent" class="add-event__form">
      <mat-card class="add-event__card">
        <mat-form-field class="add-event__input">
          <input matInput formControlName="titleEvent" type="text" placeholder="Название события">
          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
        <mat-form-field class="add-event__input">
          <input matInput formControlName="segmentation" [matAutocomplete]="auto" type="text" placeholder="Выбор сегментации">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let segmentation of segmentationOptions | async" [value]="segmentation">
              {{segmentation.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-label>Кратность</mat-label>
        <mat-slider
          formControlName="multiplicity"
          class="add-event__input"
          [displayWith]="formatTime"
          thumbLabel
          step="1"
          tickInterval="1"
          min="0"
          [max]="maxSize"></mat-slider>
        <mat-form-field class="add-event__input">
          <mat-label>Тип события</mat-label>
          <mat-select formControlName="typeEvent">
            <mat-option value="email">email</mat-option>
            <mat-option value="sms">sms</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </form>

    <mat-card class="add-event__card">
      <app-editor-email *ngIf="typeEvent === 'email'" [params]="{ 'segmentationIds': [ segmentationId ] }" [totalCount]="totalCount" whichButton="data" (messageEvent)="addEvent( $event )"></app-editor-email>
      <app-editor-sms  *ngIf="typeEvent === 'sms'" [params]="{ 'segmentationIds': [ segmentationId ] }" [totalCount]="totalCount" whichButton="data" (messageEvent)="addEvent( $event )"></app-editor-sms>
    </mat-card>


  </div>
</div>












