<div class="add-event">
    <form [formGroup]="formEvent" class="add-event__form">
      <mat-card class="add-event__card">
        <mat-form-field class="add-event__input">
          <input matInput formControlName="title" type="text" placeholder="{{'PAGE.EVENTS.ADD_EVENT.FIELD.NAME_EVENT' | translate}}">
          <mat-error>{{'FIELD.ERROR.OBLIGATORY_FIELD' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="add-event__input">
          <input matInput formControlName="segmentation" [matAutocomplete]="auto" type="text" placeholder="{{'PAGE.EVENTS.ADD_EVENT.FIELD.SEGMENTATION' | translate}}">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let segmentation of segmentationOptions | async" [value]="segmentation">
              {{segmentation.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-label>{{'PAGE.EVENTS.ADD_EVENT.FIELD.MULTIPLICITY' | translate}}</mat-label>
        <mat-slider
          formControlName="multiplicity"
          class="add-event__input"
          [displayWith]="getFormatTimeFn"
          thumbLabel
          step="1"
          tickInterval="1"
          min="0"
          [max]="maxSize"></mat-slider>
        <mat-form-field class="add-event__input">
          <mat-label>{{'PAGE.EVENTS.ADD_EVENT.FIELD.TYPE_EVENT.TITLE' | translate}}</mat-label>
          <mat-select formControlName="taskType">
            <mat-option value="1">{{'PAGE.EVENTS.ADD_EVENT.FIELD.TYPE_EVENT.EMAIL' | translate}}</mat-option>
            <mat-option value="2">{{'PAGE.EVENTS.ADD_EVENT.FIELD.TYPE_EVENT.SMS' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>

      <mat-card class="add-event__type">
        <app-editor-email *ngIf="taskType === '1'" [params]="{ 'segmentationId': segmentationId }" [totalCount]="totalCount" whichButton="data" (messageEvent)="addEvent( $event )"></app-editor-email>
        <app-editor-sms  *ngIf="taskType === '2'" [params]="{ 'segmentationId': segmentationId }" [totalCount]="totalCount" whichButton="data" (messageEvent)="addEvent( $event )"></app-editor-sms>
      </mat-card>
    </form>
</div>












