.add-event


  &__form
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-bottom: 10px;

  &__input
    width: 100%

  &__field
    flex: 1;
    margin-right: 5px;

  &__type
    flex: 3;

  &__template
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;

.row
  width: 100%;
