.error-page
  background: #fff;
  margin: -20px
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh

  h1
    margin: 50px auto;
    color: #42A5F5;
    font-weight: 900;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 150px;

  img
    margin: 0 auto;