<div class="order">
  <mat-card *ngIf="progress">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </mat-card>
  <mat-accordion *ngIf="!progress" multi="true">

    <mat-card class="order__sort mat-elevation-z0">
      <form class="order__form" [formGroup]="formFilter">
        <div class="order__search">
          <mat-form-field class="order__input">
            <mat-select formControlName="switchSearch" placeholder="Поиск по">
              <mat-option></mat-option>
              <mat-option value="Active" >Оформлен</mat-option>
              <mat-option value="Cancelled" >Аннулирован</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="order__input">
            <input formControlName="textSearch" type="text" placeholder="Поиск" matInput >
          </mat-form-field>
        </div>
        <div class="order__filter-wrapper">
          <div class="order__filter">
            <mat-form-field class="order__input">
              <input matInput formControlName="recloc" type="text" placeholder="Заказ №" [matAutocomplete]="recloc">
              <mat-autocomplete #recloc="matAutocomplete">
                <mat-option *ngFor="let recloc of reclocOptions | async" [value]="recloc">{{ recloc }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="order__filter">
            <mat-form-field class="order__input">
              <mat-select formControlName="BookingStatus" placeholder="Статус заказа">
                <mat-option></mat-option>
                <mat-option value="Active" >Оформлен</mat-option>
                <mat-option value="Cancelled" >Аннулирован</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div  class="order__filter">
            <mat-form-field class="order__input">
              <input matInput formControlName="createDate" placeholder="Дата создания" [matDatepicker]="createDate">
              <mat-datepicker-toggle matSuffix [for]="createDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #createDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card>

    <mat-card class="order__sort mat-elevation-z0">
      <div class="order__filter">
        <span
          matRipple
          matRippleColor="rgba(0,0,0,.1)"
          matRippleUnbounded="true"
          matRippleRadius="50"
          (click)="sortFilter('recloc')"
        >
          <b>Заказ №&nbsp;</b>
          <mat-icon>swap_vert</mat-icon>
        </span>
      </div>
      <div class="order__filter">
        <span
          matRipple
          matRippleColor="rgba(0,0,0,.1)"
          matRippleUnbounded="true"
          matRippleRadius="50"
          (click)="sortFilter('BookingStatus')"
        >
          <b>Статус заказа&nbsp;</b>
          <mat-icon>swap_vert</mat-icon>
        </span>
      </div>
      <div  class="order__filter">
        <span
          matRipple
          matRippleColor="rgba(0,0,0,.1)"
          matRippleUnbounded="true"
          matRippleRadius="50"
          (click)="sortFilter('createDate')"
        >
          <b>Дата создания&nbsp;</b>
          <mat-icon>swap_vert</mat-icon>
        </span>
      </div>
    </mat-card>

    <mat-expansion-panel
      *ngFor="let order of orders; let i = index"
      [expanded]="order.pos[0].distrRecloc.recloc === recLocCDS"
      [id]="order.IdBooking"
      (opened)="onOpenPanel( order.IdBooking )"
    >
      <mat-expansion-panel-header>
        <div class="order__header-wrapper">
          <div class="order__title">
            <span>{{order.recloc}}</span>
          </div>
          <div class="order__title">
            <span>{{order.BookingStatus | fieldTranslation}}</span>
          </div>
          <div  class="order__title">
            <span>{{order.createDate | date:'dd.MM.yyyy'}}</span>
          </div>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="order__grid-wrapper">
          <div class="order__grid">
            <mat-grid-list *ngFor=" let pos of order.pos" cols="1" rowHeight="149px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="order__card-grid _ticket mat-elevation-z0">
                  <div class="order__content-wrapper">
                    <div class="order__content _right-width">
                      <div class="order__content-ticket">Recloc GDS: <b> {{pos.distrRecloc.recloc}} </b></div>
                      <div class="order__content-ticket">GDS: <b> {{pos.gds}} </b></div>
                      <div class="order__content-ticket">POS ID: <b> {{pos.posId}} </b></div>
                    </div>

                    <div class="order__content">
                      <div class="order__content-ticket">Агентство: <b> {{pos.agency}} </b></div>
                      <div class="order__content-ticket">Терминал: <b> {{pos.termId}} </b></div>
                      <div class="order__content-ticket">Страна: <b> {{pos.country}} </b></div>
                    </div>
                  </div>
                </mat-card>
              </mat-grid-tile>


              <mat-grid-tile *ngFor=" let segment of order.segments" [colspan]="1" [rowspan]="1">
                <mat-card class="order__card-grid mat-elevation-z0">
                  <div class="order__content-wrapper">
                    <div class="order__content _right-width">
                      <div class="order__content-point">
                        <span class="order__content-text">Аэропорт вылета:</span>
                        <span><b> {{segment.depPoint}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Дата / время вылета:</span>
                        <span><b> {{segment.depTime | date:'HH:mm dd.MM.yyyy'}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Аэропорт прилета:</span>
                        <span><b> {{segment.arrPoint}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Дата / время прилета:</span>
                        <span><b> {{segment.arrTime | date:'HH:mm dd.MM.yyyy'}}</b></span>
                      </div>
                    </div>

                    <div class="order__content">
                      <div class="order__content-point">
                        <span class="order__content-text">№ рейса:</span>
                        <span><b> {{segment.flight}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Кабина:</span>
                        <span><b> {{segment.cabin}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Класс бронирования:</span>
                        <span><b> {{segment.rbd}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Статус сегмента:</span>
                        <span><b> {{segment.status}}</b></span>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>


          <div class="order__grid">
            <mat-grid-list cols="1" rowHeight="149px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="order__card-grid _ticket mat-elevation-z0">
                  <div class="order__content-wrapper">
                    <div class="order__content _none-justify">
                      <div class="order__content-ticket"><b>Стоимость в валюте:</b></div>

                      <div *ngFor="let MonetaryInfo of order.MonetaryInfo">
                        <div *ngIf="MonetaryInfo.Code === 'TG'" class="order__content-point">
                          <span class="order__content-text">Всего по заказу:</span>
                          <span><b>
                            {{ MonetaryInfo.AmountCur | currency:currencyDefault:'symbol-narrow'}} |
                            {{ MonetaryInfo.AmountEur | currency:'EUR':'symbol-narrow'}} |
                            {{ MonetaryInfo.AmountUsd | currency:'USD':'symbol-narrow'}}
                          </b></span>
                        </div>
                        <div *ngIf="MonetaryInfo.Code === 'TS'" class="order__content-point">
                          <span class="order__content-text">Таксы и сборы:</span>
                          <span><b>
                            {{ MonetaryInfo.AmountCur | currency:currencyDefault:'symbol-narrow'}} |
                            {{ MonetaryInfo.AmountEur | currency:'EUR':'symbol-narrow'}} |
                            {{ MonetaryInfo.AmountUsd | currency:'USD':'symbol-narrow'}}
                          </b></span>
                        </div>
                        <div *ngIf="MonetaryInfo.Code === 'TT'" class="order__content-point">
                          <span class="order__content-text">По билетам:</span>
                          <span><b>
                            {{ MonetaryInfo.Amount | currency:MonetaryInfo.Currency:'symbol-narrow'}} |
                            {{ MonetaryInfo.AmountCur | currency:currencyDefault:'symbol-narrow'}} |
                            {{ MonetaryInfo.AmountEur | currency:'EUR':'symbol-narrow'}} |
                            {{ MonetaryInfo.AmountUsd | currency:'USD':'symbol-narrow'}}
                          </b></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </mat-grid-tile>

              <mat-grid-tile *ngFor="let ticket of order.tickets" [colspan]="1" [rowspan]="1">
                <mat-card class="order__card-grid mat-elevation-z0">
                  <div class="order__content-wrapper">
                    <div class="order__content _right-width">
                      <div class="order__content-point">
                        <span class="order__content-text">Номер билета:</span>
                        <span><b> {{ticket.ticket}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Аэропорт вылета:</span>
                        <span><b> {{ticket.segment?.depPoint}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Дата / время вылета:</span>
                        <span><b> {{ticket.segment?.depTime | date:'HH:mm dd.MM.yyyy'}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Аэропорт прилета:</span>
                        <span><b> {{ticket.segment?.arrPoint}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Дата / время прилета:</span>
                        <span><b> {{ticket.segment?.arrTime | date:'HH:mm dd.MM.yyyy'}}</b></span>
                      </div>
                    </div>

                    <div class="order__content">
                      <div class="order__content-point">
                        <span class="order__content-text">Номер купона:</span>
                        <span><b> {{ticket.coupon}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">№ рейса:</span>
                        <span><b> {{ticket.segment?.flight}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Fare basis:</span>
                        <span><b> {{ticket.FareCode}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Статус:</span>
                        <span><b> {{ticket.couponStatus}}</b></span>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>


          <div class="order__grid">
            <mat-grid-list cols="1" rowHeight="224px">
              <mat-grid-tile *ngFor=" let service of order.services" [colspan]="1" [rowspan]="1">
                <mat-card class="order__card-grid mat-elevation-z0">
                  <div class="order__content-wrapper">
                    <div class="order__content _right-width">
                      <div class="order__content-point">
                        <span class="order__content-text">Тип SVC:</span>
                        <span><b>  {{ service.emdType}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Аэропорт вылета:</span>
                        <span><b> {{service.segment?.depPoint}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Дата / время вылета:</span>
                        <span><b> {{service.segment?.depTime | date:'HH:mm dd.MM.yyyy'}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Аэропорт прилета:</span>
                        <span><b> {{service.segment?.arrPoint}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Дата / время прилета:</span>
                        <span><b> {{service.segment?.arrTime | date:'HH:mm dd.MM.yyyy'}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">№ рейса:</span>
                        <span><b> {{service.segment?.flight}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Статус услуги:</span>
                        <span><b> {{service.status}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Стоимость:</span>
                        <span><b>
                          {{ service.emd?.amount | currency:service.emd?.Currency:'symbol-narrow'}} |
                          {{ service.emd?.AmountCur | currency:currencyDefault:'symbol-narrow'}}
                        </b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">{{ service.nos ? 'Название услуги:' : 'Комментарий:'}}</span>
                        <span><b> {{ service.nos || service.text }}</b></span>
                      </div>
                    </div>

                    <div class="order__content">
                      <div class="order__content-point">
                        <span class="order__content-text">Дата:</span>
                        <span><b> ...</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Rfisc:</span>
                        <span><b> {{service.rfisc}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">SSR:</span>
                        <span><b> {{service.ssr}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Тип EMD:</span>
                        <span><b> {{service.emdType}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Номер купона:</span>
                        <span><b> {{service.emd?.coupon}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Статус:</span>
                        <span><b> {{service.couponStatus}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">EMD:</span>
                        <span><b> {{service.emd?.num}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Количество:</span>
                        <span><b> {{service.qtty}}</b></span>
                      </div>
                      <div class="order__content-point">
                        <span class="order__content-text">Концепт/мера:</span>
                        <span><b> ...</b></span>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
