<div class="order">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let order of orders; let i = index" [expanded]="i === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          № {{order}}
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age {{i}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> {{id}} </p>


      <div class="order__grid-wrapper">

        <div class="order__grid">
          <mat-grid-list cols="1" rowHeight="149px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid _back-none mat-elevation-z0">
                <div class="order__content-wrapper">
                  <div class="order__content">
                    123
                  </div>
                  <div class="order__content">
                    456
                  </div>
                </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                <div class="order__content">
                  123
                </div>
                <div class="order__content">
                  456
                </div>
              </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                <div class="order__content">
                  123
                </div>
                <div class="order__content">
                  456
                </div>
              </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div class="order__grid">
          <mat-grid-list cols="1" rowHeight="224px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                <div class="order__content">
                  123
                </div>
                <div class="order__content">
                  456
                </div>
              </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                <div class="order__content">
                  123
                </div>
                <div class="order__content">
                  456
                </div>
              </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div class="order__grid">
          <mat-grid-list cols="1" rowHeight="149px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid _ticket mat-elevation-z0">
                <div class="order__content-wrapper">
                <div class="order__content">
                  123
                </div>
                <div class="order__content">
                  456
                </div>
              </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                <div class="order__content">
                  123
                </div>
                <div class="order__content">
                  456
                </div>
              </div>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                <div class="order__content">
                  123
                </div>
                <div class="order__content">
                  456
                </div>
              </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>


      </div>

    </mat-expansion-panel>


  </mat-accordion>
</div>
