<div class="order">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let order of orders; let i = index" [expanded]="i === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          № {{order}}
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age {{i}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> {{id}} </p>


      <div class="order__grid-wrapper">
        <div class="order__grid">
          <mat-grid-list cols="1" rowHeight="149px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid _back-none mat-elevation-z0">
                <div class="order__content-wrapper">
                  <div class="order__content">
                    <div><b>Recloc GDS:</b></div>
                    <div><b>POD ID:</b></div>
                  </div>
                  <div class="order__content">
                    <div><b>Агенство:</b></div>
                    <div><b>Терминал:</b></div>
                  </div>
                </div>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                  <div class="order__content">
                    <div class="order__content-point">
                      <span class="order__content-text">Аэропорт вылета:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Дата / время вылета:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Аэропорт приелта:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Дата / время прилета:</span>
                      <span><b> ...</b></span>
                    </div>
                  </div>
                  <div class="order__content">
                    <div class="order__content-point">
                      <span class="order__content-text">№ рейса:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Кабина:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">RBD:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Статус сегмента:</span>
                      <span><b> ...</b></span>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>


        <div class="order__grid">
          <mat-grid-list cols="1" rowHeight="224px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                  <div class="order__content">
                    <div class="order__content-point">
                      <span class="order__content-text">Тип SVG:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Аэропорт вылета:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Дата / время вылета:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Аэропорт приелта:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Дата / время прилета:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">№ рейса:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">SSR:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Название услуги:</span>
                      <span><b> ...</b></span>
                    </div>
                  </div>

                  <div class="order__content">
                    <div class="order__content-point">
                      <span class="order__content-text">Дата:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Rfisc:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Тип EMD:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">EMD:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Количество:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Концепт/мера:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Стоимость:</span>
                      <span><b> ...</b></span>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>


        <div class="order__grid">
          <mat-grid-list cols="1" rowHeight="149px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid _ticket mat-elevation-z0">
                <div class="order__content-wrapper">
                  <div class="order__content">
                    <div class="order__content-ticket"><b>Номер билета:</b></div>
                    <div class="order__content-ticket"><b>Стоимость в валюте:</b></div>
                  </div>
                  <div class="order__content">
                    <div class="order__content-ticket _sales"><b>Продан</b></div>
                  </div>
                </div>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-card class="order__card-grid mat-elevation-z0">
                <div class="order__content-wrapper">
                  <div class="order__content">
                    <div class="order__content-point">
                      <span class="order__content-text">Номер купона:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Аэропорт вылета:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Дата / время вылета:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Аэропорт приелта:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Дата / время прилета:</span>
                      <span><b> ...</b></span>
                    </div>
                  </div>

                  <div class="order__content">
                    <div class="order__content-point">
                      <span class="order__content-text">№ рейса:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Fare basis:</span>
                      <span><b> ...</b></span>
                    </div>
                    <div class="order__content-point">
                      <span class="order__content-text">Статус:</span>
                      <span><b> ...</b></span>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
