<div class="setting">
  <mat-card appAccessRights="customers:update" appAccessMessage="true" class="setting__card">
    <mat-card-header>
      <h2 class="setting__header">{{'PAGE.SETTINGS.TABLE_PROFILE.TITLE' | translate}}</h2>
    </mat-card-header>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="setting__content">
          <h3 class="setting__header">{{'PAGE.SETTINGS.TABLE_PROFILE.COLUMN_DISPLAY' | translate}}</h3>
          <form class="setting__form" [formGroup]="formTableAsyncProfile">
            <mat-checkbox class="setting__checkbox" *ngFor='let text of defaultCheckbox' formControlName="{{text}}">{{text | fieldTranslation | translate}}</mat-checkbox>
          </form>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="setting__content">
          <h3 class="setting__header">{{'PAGE.SETTINGS.TABLE_PROFILE.COLUMN_ORDER' | translate}}</h3>
          <mat-list class='setting__container' dragula="MANY_ITEMS" [(dragulaModel)]='itemsTableAsyncProfile'>
            <mat-list-item class='setting__item' *ngFor='let text of itemsTableAsyncProfile'>
              <div class="setting__item-wrapper">
                {{text | fieldTranslation | translate}}
                <mat-icon>unfold_more</mat-icon>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>