.add-segmentation
  margin-top: -5px;

  &__stepper

    &-button
      margin-top: 30px;

  &__card
    height: 100%;
    margin: 0 5px

    &._pos-bottom
      bottom: auto

  &__content
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &._row
      flex-direction: row;

    &._none-justify
      justify-content: normal;

    &-title
      font-weight: bold;
      font-size: 14px;

      &-wrapper
        display: flex;
        flex-direction row;
        align-items: center;
        height: 24px;

        mat-icon
          margin-left: auto;
          cursor: pointer;
          color: #ff4081;

    &._input-row
      flex-direction: row;
      align-items: center;

      .profile-search__input
        width: 40%;

  &__input
    width: 100%
    position: relative;

    &-icon
      position: absolute;
      right: 30px;
      bottom: 0;
      cursor: pointer;
      color: #696969;

    &-radio
      margin-bottom: 70px;

      &._margin-none
        margin: 0;

      &-wrapper
        width: 100%;

      &-group
        display: flex;
        flex-direction: column;

        &._right
          margin-top: 20px;

    &-group
      flex: 1;

      &._m-r
        margin-right: 20px;

  &__button

    margin-right: 15px;

    &-wrapper
      position: absolute;
      bottom: -66px;
      right: 15px;
      left: 15px;
      text-align right;
      margin-bottom: 20px;

  &__table
    margin: 60px 5px 5px 5px;
    padding: 30px;

  .row
    height: 100%
  ._mb
    margin-bottom: 10px;
