<mat-grid-list mat-grid-list cols="1" rowHeight="550px">
   <mat-grid-tile>
    <mat-card appAccessRights="users:update" appAccessMessage="true" class="add-user__card">
      <mat-card-title>Добавить пользователя</mat-card-title>
      <form class="add-user__form" [formGroup]="formUser">
        <mat-form-field class="add-user__input">
          <input matInput formControlName="login" placeholder="Логин">
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="password" type="password" placeholder="Пароль">
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="confirmPassword" type="password" appConfirmEqualValidator="password" placeholder="Повторите пароль">
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="loginName" placeholder="ФИО">
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput type="email" formControlName="email" placeholder="email">
        </mat-form-field>
        <div class="add-user__button-wrapper">
          <button class="add-user__button _left-button" mat-raised-button (click)="sendForm()" color="primary">Добавить пользователя</button>
          <button class="add-user__button" mat-raised-button (click)="clearForm()">Очистить форму</button>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
