<mat-grid-list mat-grid-list cols="1" rowHeight="550px">
  <mat-grid-tile>
    <mat-card appAccessRights="users:update" appAccessMessage="true" class="add-user__card">
      <mat-card-title>Добавить пользователя</mat-card-title>
      <form class="add-user__form" [formGroup]="formUser">
        <mat-form-field class="add-user__input">
          <input matInput formControlName="login" placeholder="Логин">
          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="password" type="password" placeholder="Пароль">
          <mat-error *ngIf="formUser.get( 'password' ).errors">
            {{
            formUser.get('password').errors.complexPasswordValidator ?
              formUser.get('password').errors.complexPasswordValidator.message :
              formUser.get('password').errors.minlength ?
                'Пароль должен состоять не менее чем из ' +
                formUser.get('password').errors.minlength.requiredLength + ' ' +
                'символов. Вы ввели: ' + formUser.get('password').errors.minlength.actualLength :
                'Обязательное поле'
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="confirmPassword" type="password" appConfirmEqualValidator="password"
                 placeholder="Повторите пароль">
          <mat-error *ngIf="formUser.get( 'confirmPassword' ).errors">
            {{
            formUser.get( 'confirmPassword' ).errors.ConfirmPassword ?
              formUser.get( 'confirmPassword' ).errors.ConfirmPassword.mesConfirmPassword :
              'Обязательное поле'
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="loginName" placeholder="ФИО">
          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput type="email" formControlName="email" placeholder="email">
          <mat-error>Некорректно введен email</mat-error>
        </mat-form-field>
        <div class="add-user__button-wrapper">
          <button class="add-user__button _left-button" mat-raised-button (click)="sendForm()" color="primary">
            <mat-icon>person_add</mat-icon>
            Добавить пользователя
          </button>
          <button class="add-user__button" mat-raised-button (click)="clearForm()">
            <mat-icon>clear</mat-icon>
            Очистить форму
          </button>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
