<mat-grid-list mat-grid-list cols="1" rowHeight="550px">
  <mat-grid-tile>
    <mat-card appAccessRights="users:update" appAccessMessage="true" class="add-user__card">
      <mat-card-title>{{'PAGE.USERS.ADD_USER.TITLE' | translate}}</mat-card-title>
      <form class="add-user__form" [formGroup]="formUser">
        <mat-form-field class="add-user__input">
          <input matInput formControlName="login" placeholder="{{'PAGE.USERS.ADD_USER.LOGIN' | translate}}">
          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="password" type="password" placeholder="{{'PAGE.USERS.ADD_USER.PASSWORD' | translate}}">
          <mat-error *ngIf="formUser.get( 'password' ).errors">
            {{
            formUser.get('password').errors.complexPasswordValidator ?
              formUser.get('password').errors.complexPasswordValidator.message :
              formUser.get('password').errors.minlength ?
                ( 'FIELD.ERROR.STRONG_PASSWORD' | translate ) + ' ' +
                formUser.get('password').errors.minlength.requiredLength + ' ' +
                ('FIELD.ERROR.YOU_ENTERED' | translate) + ': ' + formUser.get('password').errors.minlength.actualLength :
                ( 'FIELD.ERROR.OBLIGATORY_FIELD' | translate)
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="confirmPassword" type="password" appConfirmEqualValidator="password"
                 placeholder="{{'PAGE.USERS.ADD_USER.CONFIRM_PASSWORD' | translate}}">
          <mat-error *ngIf="formUser.get( 'confirmPassword' ).errors">
            {{
            formUser.get( 'confirmPassword' ).errors.ConfirmPassword ?
              formUser.get( 'confirmPassword' ).errors.ConfirmPassword.mesConfirmPassword :
              ( 'FIELD.ERROR.OBLIGATORY_FIELD' | translate)
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput formControlName="loginName" placeholder="{{'PAGE.USERS.ADD_USER.FIO' | translate}}">
          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
        <mat-form-field class="add-user__input">
          <input matInput type="email" formControlName="email" placeholder="{{'PAGE.USERS.ADD_USER.EMAIL' | translate}}">
          <mat-error>Некорректно введен email</mat-error>
        </mat-form-field>
        <div class="add-user__button-wrapper">
          <button class="add-user__button _left-button" mat-raised-button (click)="sendForm()" color="primary">
            <mat-icon>person_add</mat-icon>
            {{'BUTTON.ADD_USER' | translate}}
          </button>
          <button class="add-user__button" mat-raised-button (click)="clearForm()">
            <mat-icon>clear</mat-icon>
            {{'BUTTON.CLEAR_FORM' | translate}}
          </button>
        </div>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
