<div class="dialog-merge-profile">

  <mat-progress-bar *ngIf="progress" mode="buffer"></mat-progress-bar>

  <div *ngIf="!progress" cdkDropList class="dialog-merge-profile__example-list" (cdkDropListDropped)="drop($event)">
    <div class="dialog-merge-profile__example-wrapper" *ngFor="let profile of profiles; let i = index">
      <div class="dialog-merge-profile__example-box" *ngFor="let result of profile.result" cdkDrag>
        <mat-list>
          <mat-list-item [ngStyle]="{'height': 'auto'}" *ngFor="let customerName of result.customerNames">
            <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line>
              <div class="row row-col-1 row-col-xl-3 no-gutters">
                <div class="col"><b>{{'POP_UP.DIALOG_MERGE_PROFILE.FIRST_NAME' | translate}}</b> {{customerName.firstName}} |</div>
                <div class="col"><b>{{'POP_UP.DIALOG_MERGE_PROFILE.LAST_NAME' | translate}}</b> {{customerName.lastName}} |</div>
                <div class="col"><b>{{'POP_UP.DIALOG_MERGE_PROFILE.CUSTOMER_IDS' | translate}}</b> {{customerName.customerId}}</div>
              </div>
            </h4>
            <p mat-line><b>{{'POP_UP.DIALOG_MERGE_PROFILE.DATE_OF_BIRTH' | translate}}</b> {{result.dob | date:'dd.MM.yyyy'}} </p>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-icon class="dialog-merge-profile__example-icon" [ngClass]="{ '_hide' : i > 0 }" >call_merge</mat-icon>
    </div>
  </div>
  <div class="dialog-merge-profile__button-wrapper">
    <button class="dialog-merge-profile__button _left-button" mat-stroked-button (click)="onYesClick()" color="warn">
      {{'DIALOG.YES' | translate}}
    </button>
    <button class="dialog-merge-profile__button" mat-stroked-button (click)="onNoClick()" color="primary">{{'DIALOG.NO' | translate}}</button>
  </div>
</div>
