<div class="dialog-merge-profile">

  <mat-progress-bar *ngIf="progress" mode="buffer"></mat-progress-bar>

  <div *ngIf="!progress" cdkDropList class="dialog-merge-profile__example-list" (cdkDropListDropped)="drop($event)">
    <div class="dialog-merge-profile__example-wrapper" *ngFor="let profile of profiles; let i = index">
      <div class="dialog-merge-profile__example-box" *ngFor="let result of profile.result" cdkDrag>
        <mat-list>
          <mat-list-item *ngFor="let customerName of result.customerNames">
            <mat-icon mat-list-icon>how_to_reg</mat-icon>
            <h4 mat-line>
              <b>Имя:</b> {{customerName.firstName}} |
              <b>Фамилия:</b> {{customerName.lastName}} |
              <b>№ профиля</b> {{customerName.customerId}}
            </h4>
            <p mat-line><b>Дата рождения:</b> {{result.dob | date:'dd.MM.yyyy'}} </p>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-icon class="dialog-merge-profile__example-icon" [ngClass]="{ '_hide' : i > 0 }" >call_merge</mat-icon>
    </div>
  </div>
  <div class="dialog-merge-profile__button-wrapper">
    <button class="dialog-merge-profile__button _left-button" mat-stroked-button (click)="onYesClick()" color="warn">
      Да
    </button>
    <button class="dialog-merge-profile__button" mat-stroked-button (click)="onNoClick()" color="primary">Нет</button>
  </div>
</div>
