<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="example-container">


  <mat-table class="table" #table [dataSource]="dataSource" matSort matSortDirection="asc">

    <ng-container matColumnDef="select" sticky>
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Имя </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.firstName}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> фамилия </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.lastName}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="middleName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Второе имя </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.middleName}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="prefix">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Префик </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.prefix}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Пол </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.gender}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Дата </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.dob}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="idCustomer" stickyEnd>
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell #matCell  *matCellDef="let element">
        <mat-icon [id]="element.idCustomer">create</mat-icon>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<mat-paginator #paginator
               [length]="resultsLength"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50, 100, 200]"
               [showFirstLastButtons]="true">
</mat-paginator>