<div class="age-interval">
  <mat-card>
    <mat-card-title> {{'PAGE.SETTINGS.AGE_INTERVAL.TITLE' | translate}} </mat-card-title>

    <div class="age-interval__fields">
      <div class="age-interval__row" *ngFor="let params of parameters">
        <div class="age-interval__row-item">
          <span> Возраст от: {{ params.ageTo }} </span>
          <span> Возраст до  {{ params.ageFrom }} </span>
          <span> Название: {{ params.title }} </span>
          <div class="age-interval__row-menu">
            <mat-icon (click)="onCreate( params.id )" >create</mat-icon>
            <mat-icon (click)="onClose( params.id )">close</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <form class="age-interval__form" [formGroup]="formAddAgeInterval">
      <div class="age-interval__box">
        <mat-form-field class="age-interval__input">
          <input matInput formControlName="ageTo" type="text" placeholder="Возраст от">
        </mat-form-field>
        <mat-form-field class="age-interval__input">
          <input matInput formControlName="ageFrom" type="text" placeholder="Возраст до">
        </mat-form-field>
        <mat-form-field class="age-interval__input">
          <input matInput formControlName="title" type="text" placeholder="Название">
        </mat-form-field>
        <button (click)="onAdd()" class="age-interval__button-add" mat-stroked-button>{{'BUTTON.ADD' | translate}}</button>
      </div>
    </form>
  </mat-card>
</div>
