.add-promotions-codes
  margin-top: -5px;

  &__card
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow: auto;

  &__content
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-wrapper
      display: flex;

    &._d-b
      display: block;
      flex: 1;

    &._space
      margin-left: 20px;

  &__date
    display: flex;
    align-items: center;

  &__input
    width: 100%

  &__list
    margin-bottom: 10px;

    &-item
      display: flex;
      align-items: center;
      height: 30px !important;
      font-size: 14px;
      border-bottom: 1px solid rgba(0,0,0,.12);

      &-wrapper
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        color: rgba(0,0,0,0.7);

        &._flex
          flex: 2;
          color: rgba(0,0,0,1);

  &__location
    width: 31px;
    text-align: center;

  &__close
    margin-left: auto;
    font-size: 17px;
    width: 17px;
    height: 17px;
    cursor: pointer;

  &__button
    margin-right: 15px;

    &-wrapper
      position: absolute;
      bottom: -66px;
      right: 15px;
      left: 15px;
      text-align right;
      margin-bottom: 20px;

  &__add
    cursor: pointer;

  &__progress-bar
    margin-top: 150px;

    span
      color: #757575;
      font-size: 14px;
      margin-bottom: 10px;
      display: inline-block;


  &__button

    margin-right: 15px;

    &-wrapper
      position: absolute;
      bottom: -66px;
      right: 15px;
      left: 15px;
      text-align right;
      margin-bottom: 20px;

  &__table
    margin: 60px 5px 5px 5px;
    padding: 30px;