<div class="user">
  <mat-card class="user__card">
    <mat-spinner class="user__spinner" *ngIf="progress"></mat-spinner>
    <div *ngIf="!progress && !edit">
      <mat-card-header>
        <h2 class="user__header">Пользователь</h2>
        <mat-icon (click)="toggleEdit()">create</mat-icon>
      </mat-card-header>
      <mat-card-content class="user__content">
        <div class="user__list">
          <span><b>Логин: </b>{{user.login}}</span>
        </div>
        <div class="user__list">
          <span><b>ФИО: </b>{{user.loginName}}</span>
        </div>
        <div class="user__list">
          <span><b>email: </b>{{user.email}}</span>
        </div>
      </mat-card-content>
    </div>

    <div *ngIf="edit">
      <mat-card-header>
        <h2 class="user__header">Редактировать</h2>
        <mat-icon (click)="toggleEdit()">create</mat-icon>
      </mat-card-header>
      <mat-tab-group>
        <mat-tab class="user__tab" label="Пользователь">
          <form class="user__form" [formGroup]="updateUser">
            <mat-form-field class="user__input">
              <input matInput formControlName="login" placeholder="Логин">
            </mat-form-field>
            <mat-form-field class="user__input">
              <input matInput formControlName="loginName" placeholder="ФИО">
            </mat-form-field>
            <mat-form-field class="user__input">
              <input matInput type="email" formControlName="email" placeholder="email">
            </mat-form-field>
            <div class="user__button-wrapper">
              <button class="user__button _left-button" mat-raised-button (click)="sendFormUser()" color="primary">
                Изменить
              </button>
              <button class="user__button" mat-raised-button (click)="deleteUser()" color="warn">
                Удалить
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </form>
        </mat-tab>

        <mat-tab class="user__tab" label="Пароль">
          <form class="user__form" [formGroup]="updatePassword">
            <mat-form-field class="user__input">
              <input matInput formControlName="newPassword" type="password" placeholder="Пароль">
            </mat-form-field>
            <mat-form-field class="user__input">
              <input matInput formControlName="confirmPassword" type="password"
                     appConfirmEqualValidator="newPassword" placeholder="Повторите пароль">
            </mat-form-field>
            <div class="user__button-wrapper">
              <button class="user__button _left-button" mat-raised-button (click)="sendFormPassword()"
                      color="primary">Изменить
              </button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>


  <mat-card class="user__card">
    <mat-spinner class="user__spinner" *ngIf="progress"></mat-spinner>
    <div *ngIf="!progress">
      <mat-card-header>
        <h2 class="user__header">Права</h2>
      </mat-card-header>
      <mat-card-content class="user__content">
        <form class="user__form" [formGroup]="formPermission">
          <div class="user__form-wrapper" *ngFor=" let person of persons">
            <div class="user__label">
              <div class="user__label-title"><b>{{ person.title }}</b></div>
              <mat-checkbox
                class="user__checkbox" *ngFor=" let id of person.ids "
                [formControlName]="id">
                {{ id % 2 === 1 ? 'Чтение' : 'Изменение'}}
              </mat-checkbox>
            </div>
            <div class="user__templates" *ngIf=" person.title === 'Отчеты'">
              <mat-progress-bar *ngIf="isProgressTemplates" mode="buffer"></mat-progress-bar>
              <mat-accordion *ngIf="!isProgressTemplates">
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-description>
                      Дополнительные права
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
                            class="example-tree">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node">
                      <li class="mat-tree-node">
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <button mat-icon-button disabled></button>
                        <mat-checkbox mat-button class="user__template"
                                      [checked]="checklistSelection.isSelected(node)"
                                      (change)="todoLeafItemSelectionToggle(node)">{{node.name.split('/')[node.name.split('/').length - 1]}}</mat-checkbox>
                      </li>
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                      <li>
                        <div class="mat-tree-node">
                          <button mat-icon-button matTreeNodeToggle>
                            <mat-icon class="mat-icon-rtl-mirror">
                              folder
                            </mat-icon>
                          </button>
                          <mat-checkbox class="user__dir"
                                        [checked]="descendantsAllSelected(node)"
                                        [indeterminate]="descendantsPartiallySelected(node)"
                                        (change)="todoItemSelectionToggle(node)">{{node.name}}</mat-checkbox>
                        </div>
                        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                          <ng-container matTreeNodeOutlet></ng-container>
                        </ul>
                      </li>
                    </mat-nested-tree-node>
                  </mat-tree>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="user__button-wrapper">
            <button class="user__button _left-button" mat-raised-button (click)="sendFormPermission()"
                    color="primary">Изменить
            </button>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>