<div class="user">
  <mat-card class="user__card">
    <mat-spinner class="user__spinner" *ngIf="progress"></mat-spinner>
    <div *ngIf="!progress && !edit">
      <mat-card-header>
        <h2 class="user__header">Пользователь</h2>
        <mat-icon (click)="toggleEdit()">create</mat-icon>
      </mat-card-header>
      <mat-card-content class="user__content">
        <div class="user__list">
          <span><b>Логин: </b>{{user.login}}</span>
        </div>
        <div class="user__list">
          <span><b>ФИО: </b>{{user.loginName}}</span>
        </div>
        <div class="user__list">
          <span><b>email: </b>{{user.email}}</span>
        </div>
      </mat-card-content>
    </div>

    <div *ngIf="edit">
      <mat-card-header>
        <h2 class="user__header">Редактировать</h2>
        <mat-icon (click)="toggleEdit()">create</mat-icon>
      </mat-card-header>
      <mat-tab-group>
        <mat-tab class="user__tab" label="Пользователь">
          <form class="user__form" [formGroup]="updateUser">
            <mat-form-field class="user__input">
              <input matInput formControlName="login" placeholder="Логин">
            </mat-form-field>
            <mat-form-field class="user__input">
              <input matInput formControlName="loginName" placeholder="ФИО">
            </mat-form-field>
            <mat-form-field class="user__input">
              <input matInput type="email" formControlName="email" placeholder="email">
            </mat-form-field>
            <div class="user__button-wrapper">
              <button class="user__button _left-button" mat-raised-button (click)="sendFormUser()" color="primary">
                Изменить
              </button>
              <button class="user__button" mat-raised-button (click)="deleteUser()" color="warn">
                Удалить
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </form>
        </mat-tab>

        <mat-tab class="user__tab" label="Пароль">
          <form class="user__form" [formGroup]="updatePassword">
            <mat-form-field class="user__input">
              <input matInput formControlName="newPassword" type="password" placeholder="Пароль">
              <mat-error *ngIf="updatePassword.get( 'newPassword' ).errors">
                {{
                updatePassword.get('newPassword').errors.complexPasswordValidator ?
                  updatePassword.get('newPassword').errors.complexPasswordValidator.message :
                  updatePassword.get('newPassword').errors.minlength ?
                    'Пароль должен состоять не менее чем из ' +
                    updatePassword.get('newPassword').errors.minlength.requiredLength + ' ' +
                    'символов. Вы ввели: ' + updatePassword.get('newPassword').errors.minlength.actualLength :
                    'Обязательное поле'
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="user__input">
              <input matInput formControlName="confirmPassword" type="password"
                     appConfirmEqualValidator="newPassword" placeholder="Повторите пароль">
              <mat-error *ngIf="updatePassword.get( 'confirmPassword' ).errors">
                {{
                updatePassword.get( 'confirmPassword' ).errors.ConfirmPassword ?
                  updatePassword.get( 'confirmPassword' ).errors.ConfirmPassword.mesConfirmPassword :
                  'Обязательное поле'
                }}
              </mat-error>
            </mat-form-field>
            <div class="user__button-wrapper">
              <button class="user__button _left-button" mat-raised-button (click)="sendFormPassword()"
                      color="primary">Изменить
              </button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>


  <mat-card class="user__card">
    <mat-spinner class="user__spinner" *ngIf="progress"></mat-spinner>
    <div *ngIf="!progress">
      <mat-card-header>
        <h2 class="user__header">Права</h2>
      </mat-card-header>
      <mat-card-content class="user__content">
        <form class="user__form" [formGroup]="formPermission">
          <div class="user__form-wrapper" *ngFor=" let person of persons">
            <div class="user__label">
              <div class="user__label-title"><b>{{ person.title }}</b></div>
              <mat-checkbox
                class="user__checkbox" *ngFor=" let id of person.ids "
                [formControlName]="id">
                {{ id % 2 === 1 ? 'Чтение' : 'Изменение'}}
              </mat-checkbox>
            </div>
            <div class="user__templates" *ngIf=" person.title === 'Отчеты'">
              <mat-progress-bar *ngIf="isProgressTemplates" mode="buffer"></mat-progress-bar>
              <mat-accordion *ngIf="!isProgressTemplates">
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-description>
                      Дополнительные права
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <app-report-access-rights (sendReportsIds)="collectObjectReport($event)" [loginId]="+loginId" ></app-report-access-rights>


                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="user__button-wrapper">
            <button class="user__button _left-button" mat-raised-button (click)="sendFormPermission()"
                    color="primary">Изменить
            </button>
          </div>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>