<div class="user">
  <mat-grid-list cols="2" rowHeight="900px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="user__card">
        <mat-spinner class="user__spinner" *ngIf="progress"></mat-spinner>
        <div *ngIf="!progress && !edit">
          <mat-card-header>
            <h2 class="user__header">Пользователь</h2>
            <mat-icon (click)="toggleEdit()" >create</mat-icon>
          </mat-card-header>
          <mat-card-content class="user__content">
            <div class="user__list">
              <span><b>Логин: </b>{{user.login}}</span>
            </div>
            <div class="user__list">
              <span><b>ФИО: </b>{{user.loginName}}</span>
            </div>
            <div class="user__list">
              <span><b>email: </b>{{user.email}}</span>
            </div>
          </mat-card-content>
        </div>

        <div *ngIf="edit">
          <mat-card-header>
            <h2 class="user__header">Редактировать</h2>
            <mat-icon (click)="toggleEdit()" >create</mat-icon>
          </mat-card-header>
          <mat-tab-group>
            <mat-tab class="user__tab" label="Пользователь">
              <form class="user__form" [formGroup]="updateUser">
                <mat-form-field class="user__input">
                  <input matInput formControlName="login" placeholder="Логин">
                </mat-form-field>
                <mat-form-field class="user__input">
                  <input matInput formControlName="loginName" placeholder="ФИО">
                </mat-form-field>
                <mat-form-field class="user__input">
                  <input matInput type="email" formControlName="email" placeholder="email">
                </mat-form-field>
                <div class="user__button-wrapper">
                  <button class="user__button _left-button" mat-raised-button (click)="sendFormUser()" color="primary">Изменить</button>
                  <button class="user__button" mat-raised-button (click)="deleteUser()" color="warn">
                    Удалить
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </form>
            </mat-tab>

            <mat-tab class="user__tab" label="Пароль">
              <form class="user__form" [formGroup]="updatePassword">
                <mat-form-field class="user__input">
                  <input matInput formControlName="newPassword" type="password" placeholder="Пароль">
                </mat-form-field>
                <mat-form-field class="user__input">
                  <input matInput formControlName="confirmPassword" type="password" appConfirmEqualValidator="newPassword" placeholder="Повторите пароль">
                </mat-form-field>
                <div class="user__button-wrapper">
                  <button class="user__button _left-button" mat-raised-button (click)="sendFormPassword()" color="primary">Изменить</button>
                </div>
              </form>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="user__card">
        <mat-spinner class="user__spinner" *ngIf="progress"></mat-spinner>
        <div *ngIf="!progress">
          <mat-card-header>
            <h2 class="user__header">Права</h2>
          </mat-card-header>
          <mat-card-content class="user__content">
            <form class="user__form" [formGroup]="formPermission">
              <div class="user__label">
                <div class="user__label-title"><b>Пользователи</b></div>
                <mat-checkbox class="user__checkbox" formControlName="1">Чтение</mat-checkbox>
                <mat-checkbox class="user__checkbox" formControlName="2">Изменения</mat-checkbox>
              </div>
              <div class="user__label">
                <div class="user__label-title"><b>Аналитика</b></div>
                <mat-checkbox class="user__checkbox" formControlName="3">Чтение</mat-checkbox>
                <mat-checkbox class="user__checkbox" formControlName="4">Изменения</mat-checkbox>
              </div>
              <div class="user__label">
                <div class="user__label-title"><b>Пассажиры</b></div>
                <mat-checkbox class="user__checkbox" formControlName="5">Чтение</mat-checkbox>
                <mat-checkbox class="user__checkbox" formControlName="6">Изменения</mat-checkbox>
              </div>
              <div class="user__label">
                <div class="user__label-title"><b>Рассылка</b></div>
                <mat-checkbox class="user__checkbox" formControlName="7">Чтение</mat-checkbox>
                <mat-checkbox class="user__checkbox" formControlName="8">Изменения</mat-checkbox>
              </div>
              <div class="user__label">
                <div class="user__label-title"><b>Промокоды</b></div>
                <mat-checkbox class="user__checkbox" formControlName="9">Чтение</mat-checkbox>
                <mat-checkbox class="user__checkbox" formControlName="10">Изменения</mat-checkbox>
              </div>
              <div class="user__label">
                <div class="user__label-title"><b>Летоты</b></div>
                <mat-checkbox class="user__checkbox" formControlName="11">Чтение</mat-checkbox>
                <mat-checkbox class="user__checkbox" formControlName="12">Изменения</mat-checkbox>
              </div>
              <div class="user__button-wrapper">
                <button class="user__button _left-button" mat-raised-button (click)="sendFormPermission()" color="primary">Изменить</button>
              </div>
            </form>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>