.user
  margin: 20px;
  display: flex;

  &__card
    flex: 1;
    margin: 0 5px;


  &__header,
  &__list,
  &__label
    color: #424242

  &__list,
  &__label
    font-size: 16px;
    margin-bottom: 50px

  &__label
    &-title
      margin-bottom: 20px;

  &__templates
    flex: 1;

  &__content
    margin-top: 50px;

  &__checkbox
    margin-right: 20px;

  &__spinner
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);

  &__form
    margin-top: 20px
    display: flex;
    flex-direction: column;

    &-wrapper
      display: flex;
      flex-direction: row;
      justify-content: space-between;


  &__input
    display: block

  &__button

    &._left-button
      margin-left: auto
      margin-right: 5px

    &-wrapper
      margin-left: auto;

  &__dir,
  &__template
    color: #464646;
    cursor: pointer;

  &__dir
    font-size 16px;


.mat-card-header
  align-items: center;

  .mat-icon
    margin-left: auto
    cursor: pointer;
    color: #696969;


example-tree
  mat-icon
    color: #464646;

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}