<div class="dynamic-form">
  <form class="dynamic-form__form" [formGroup]="dynamicForm">
    <mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile class="dynamic-form__grid-tile" *ngFor="let objectProps of splitObjectProps" colspan="1"
                     rowspan="1">
        <div *ngFor="let prop of objectProps">
          <div [ngSwitch]="prop.type">

            <mat-form-field class="dynamic-form__input" *ngSwitchCase="'text'">
              <input matInput [id]="prop.key" [formControlName]="prop.key" [type]="prop.type" [placeholder]="prop.placeholder">
              <mat-error>{{'FIELD.ERROR.OBLIGATORY_FIELD' | translate}}</mat-error>
            </mat-form-field>

            <div class="dynamic-form__input" *ngSwitchCase="'radio'">
              <mat-radio-group [id]="prop.key" [formControlName]="prop.key">
                <mat-radio-button class="dynamic-form__radio" *ngFor="let option of prop.options"
                                  [value]="option.value">{{option.placeholder}}</mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-form-field class="dynamic-form__input" *ngSwitchCase="'select'">
              <mat-select [id]="prop.key" [formControlName]="prop.key">
                <mat-option></mat-option>
                <mat-option *ngFor="let option of prop.options" [value]="option.value">
                  {{ option.placeholder }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="dynamic-form__input" *ngSwitchCase="'date'">
              <input matInput [id]="prop.key" [formControlName]="prop.key" [placeholder]="prop.placeholder" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>

            <div class="dynamic-form__input" *ngSwitchCase="'checkbox'">
              <mat-checkbox [id]="prop.key" [formControlName]="prop.key">{{prop.placeholder}}</mat-checkbox>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
  <button
    [disabled]="buttonDisabled"
    class="dynamic-form__button" mat-raised-button
    (click)="onDynamicFormEmit()" color="primary">
    <mat-icon>graphic_eq</mat-icon>
    {{'BUTTON.TO_FROM' | translate}}
  </button>
</div>
