sizeIcon = 40px;

.entrance

  &__card
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    &:hover
      box-shadow 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  &__title
    display: flex;
    align-items: center;

  &__icon
    margin-left: auto;
    font-size: sizeIcon;
    width: sizeIcon;
    height: sizeIcon;
    color: #9E9E9E;

  &__actions
    margin-top: auto;

  &__button
    width: 100%;
