sizeIcon = 40px;

.entrance

  &__card
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;

  &__title
    display: flex;
    align-items: center;

  &__icon
    margin-left: auto;
    font-size: sizeIcon;
    width: sizeIcon;
    height: sizeIcon;
    color: #9E9E9E;

  &__actions
    margin-top: auto;

  &__button
    width: 100%;
