<div class="entrance">
  <mat-grid-list cols="4" rowHeight="300px">
    <div *ngFor="let card of cards">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="entrance__card" (click)="openLink()" routerLink='{{ card.link[0].url }}'>
          <mat-card-title class="entrance__title">{{ card.name }} </mat-card-title>
          <mat-card-actions class="entrance__actions">
            <mat-icon class="entrance__icon">{{ card.icon }}</mat-icon>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>

  <div style="text-align: center">
    <pdf-viewer
      *ngIf="pdfSrc"
      [src]="pdfSrc"
      [page]="pageVariable"
      [show-all]="false"
      [render-text]="true"
      (after-load-complete)="afterLoadComplete($event)"
      style="display: block;"
    >
    </pdf-viewer>

    <div>
      <button [disabled]="buttonPreviousDisabled" (click)="onIncrementPage(-1)" mat-button>
        <mat-icon>navigate_before</mat-icon>
      </button>

      <span *ngIf="pageLength"> от {{pageVariable}} до {{ pageLength }}</span>
      <button [disabled]="buttonNextDisabled" (click)="onIncrementPage(1)"  mat-button>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <button appAccessRights="customers:read" class="profile-search__button _left-button" mat-raised-button matTooltip="Вагрузка PDF файла с учетом поискового запроса" (click)="onDownloadPDF()" color="accent">
      <mat-icon>insert_drive_file</mat-icon>
      PDF
    </button>
  </div>

</div>
