<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="toolbar__button-nav" type="button" mat-button (click)="sidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/crm/entrance" style="cursor: pointer">LEONARDO CRM</span>

    <app-switch-lang class="toolbar__form"></app-switch-lang>

    <button class="toolbar__button-menu" mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>face</mat-icon>
      <span>{{login}}</span>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="goOut()">{{'TOOLBAR.GO_OUT' | translate}}</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
