<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="toolbar__button-nav" type="button" mat-button (click)="sidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/crm/entrance" style="cursor: pointer">LEONARDO CRM</span>

    <form class="toolbar__form" [formGroup]="formLang">
      <mat-form-field class="toolbar__form-input">
        <mat-select formControlName="lang">
          <mat-option *ngFor=" let lang of translate.getLangs()" [value]="lang" >{{lang}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <button class="toolbar__button-menu" mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>face</mat-icon>
      <span>{{login}}</span>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="goOut()">{{'TOOLBAR.GO_OUT' | translate}}</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
