<div class="table">

  <mat-table class="table" #table [dataSource]="dataSource" matSort matSortDirection="asc">

    <ng-container matColumnDef="select" sticky>
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox appAccessRights="analytics:update"
                      appAccessDisabled="true"
                      [disabled]="isDisabled"
                      (emitAccessDisabled)="disabledCheckbox($event)"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox appAccessRights="analytics:update"
                      appAccessDisabled="true"
                      (emitAccessDisabled)="disabledCheckbox($event)"
                      [disabled]="isDisabled"
                      [id]="element.customerGroupId"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null"
                      (change)="isIds()"
                      [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>


    <ng-container  matColumnDef="customerGroupName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Группа пассажиров </mat-header-cell>
      <mat-cell #matCell class="table__cell"  *matCellDef="let element"><span>{{element.customerGroupName}}</span>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50, 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
  <div class="table__button-wrapper">
    <button appAccessRights="customers:update" class="table__button" mat-raised-button (click)="deleteProfileGroups()"
            [disabled]="!selection.hasValue() && !isAllSelected()" color="warn">
      Удалить
      <mat-icon>delete</mat-icon>
    </button>
    <app-button-editor [ids]="ids" [disabled]="!selection.hasValue() && !isAllSelected()"></app-button-editor>
  </div>
</div>
