<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="example-container">


  <mat-table class="table" #table [dataSource]="dataSource" matSort matSortDirection="asc">

    <ng-container matColumnDef="select" sticky>
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox appAccessRights="customers:update"
                      appAccessDisabled="true"
                      [disabled]="isDisabled"
                      (emitAccessDisabled)="disabledCheckbox($event)"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox appAccessRights="customers:update"
                      appAccessDisabled="true"
                      (emitAccessDisabled)="disabledCheckbox($event)"
                      [disabled]="isDisabled"
                      [id]="element.customerId"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null"
                      (change)="isIds()"
                      [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGE.PROFILES.SEARCH_PROFILE.TABLE.FIRST_NAME' | translate}} </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.firstName}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGE.PROFILES.SEARCH_PROFILE.TABLE.LAST_NAME' | translate}} </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.lastName}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="secondName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGE.PROFILES.SEARCH_PROFILE.TABLE.MIDDLE_NAME' | translate}} </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.secondName}}</span>
      </mat-cell>
    </ng-container>


    <ng-container  matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGE.PROFILES.SEARCH_PROFILE.TABLE.GENDER' | translate}} </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.gender | fieldTranslation | translate}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGE.PROFILES.SEARCH_PROFILE.TABLE.DATE_OF_BIRTH' | translate}} </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.dob | date:'dd.MM.yyyy' }}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="customerIds">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGE.PROFILES.SEARCH_PROFILE.TABLE.PROFILE' | translate}} </mat-header-cell>
      <mat-cell #matCell class="table__cell" [ngClass]="{ '_cp' : isCp }" *matCellDef="let element"
                (mousemove)="cursorPointer(matCell)" (click)="openText(matCell)"><span>{{element.customerIds }}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="customerId" stickyEnd>
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell #matCell  *matCellDef="let element">
        <a [id]="element.customerId" routerLink="/crm/profile/{{element.customerId}}">
          <mat-icon>remove_red_eye</mat-icon>
        </a>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="table__row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<mat-paginator #paginator
               [length]="resultsLength"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50, 100, 200]"
               [showFirstLastButtons]="true">
</mat-paginator>

<div class="table__button-wrapper">
  <button appAccessRights="customers:update" class="table__button" mat-raised-button (click)="deleteProfile()" [disabled]="!selection.hasValue() && !isAllSelected()" color="warn">
    {{'BUTTON.DELETE' | translate}}
    <mat-icon>delete</mat-icon>
  </button>
  <app-button-editor whatNewsletter="choice" [ids]="ids" [totalCount]="totalCount"></app-button-editor>
  <app-button-promo-code [ids]="ids" [disabled]="!selection.hasValue() && !isAllSelected()"></app-button-promo-code>
  <app-button-merge-profile [ids]="ids" [disabled]="(!selection.hasValue() && !isAllSelected()) || lessThanTwo"></app-button-merge-profile>
</div>






















